Workflows/Daily Reminder For HRD Team (Folin).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-16T11:28:52.000Z",
    "createdAt": "2026-06-16T11:28:27.797Z",
    "versionId": "2a883767-69d0-407e-b27a-e88770b1a248",
    "workflowId": "mI164p98uNwNZNWC",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "task_description"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "12d96ffd-66f6-4fc0-a56d-0f3210f369a6",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          208,
          0
        ],
        "id": "8761ded3-bd58-49b9-8b91-29495703de1d",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1.1,
        "position": [
          80,
          208
        ],
        "id": "5c9752e9-58ed-4fa0-9f92-be39a70c5ce2",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "k27SnwImRZKrqF5r",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "task": "={{ $json.task_title }}",
          "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          368,
          208
        ],
        "id": "59f52abb-df43-49e8-85d5-9762af84216a",
        "name": "Create a task in Google Tasks",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "6bTNNBL6dQ5T8XQE",
            "name": "Google Tasks account"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Create a task in Google Tasks": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Saleh DG",
    "name": "tes1",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-16T11:28:52.307Z",
        "id": 37,
        "workflowId": "mI164p98uNwNZNWC",
        "versionId": "2a883767-69d0-407e-b27a-e88770b1a248",
        "event": "activated",
        "userId": "11ec36fc-2c7e-4d1e-bfea-bb564e5f5b2f"
      },
      {
        "createdAt": "2026-06-16T17:24:17.799Z",
        "id": 51,
        "workflowId": "mI164p98uNwNZNWC",
        "versionId": "2a883767-69d0-407e-b27a-e88770b1a248",
        "event": "activated",
        "userId": "11ec36fc-2c7e-4d1e-bfea-bb564e5f5b2f"
      },
      {
        "createdAt": "2026-06-16T17:24:17.773Z",
        "id": 50,
        "workflowId": "mI164p98uNwNZNWC",
        "versionId": "2a883767-69d0-407e-b27a-e88770b1a248",
        "event": "deactivated",
        "userId": "11ec36fc-2c7e-4d1e-bfea-bb564e5f5b2f"
      }
    ]
  },
  "activeVersionId": "2a883767-69d0-407e-b27a-e88770b1a248",
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-14T17:03:08.078Z",
  "description": null,
  "id": "mI164p98uNwNZNWC",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Daily Reminder For HRD Team (Folin)",
  "nodeGroups": [],
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "8761ded3-bd58-49b9-8b91-29495703de1d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        80,
        208
      ],
      "id": "5c9752e9-58ed-4fa0-9f92-be39a70c5ce2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "k27SnwImRZKrqF5r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "task": "={{ $json.task_title }}",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        368,
        208
      ],
      "id": "59f52abb-df43-49e8-85d5-9762af84216a",
      "name": "Create a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6bTNNBL6dQ5T8XQE",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c3fafddd-d4fc-413c-b477-025e97c374f7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "490172bd9753c288167757286402d502e4172febb4da49f9a85725833afab235@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "HRD"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        528,
        208
      ],
      "id": "d8361a8b-87aa-4d60-b720-07f98bb8c594",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HOzLYHc5aM1G5VwqenTJerUzPw7Q27atEPvGMonZF9Q",
          "mode": "list",
          "cachedResultName": "Update Data Pelamar MBG",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HOzLYHc5aM1G5VwqenTJerUzPw7Q27atEPvGMonZF9Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1012430258,
          "mode": "list",
          "cachedResultName": "Relawan (baru)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HOzLYHc5aM1G5VwqenTJerUzPw7Q27atEPvGMonZF9Q/edit#gid=1012430258"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        240
      ],
      "id": "734056c0-b480-4e78-9ad0-0d52899a94dd",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5IZ01sue2ywyQpu4",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jakarta",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-06-14T17:03:08.084Z",
      "createdAt": "2026-06-14T17:03:08.084Z",
      "role": "workflow:owner",
      "workflowId": "mI164p98uNwNZNWC",
      "projectId": "kbiHS04LQQ6cOAs2",
      "project": {
        "updatedAt": "2026-06-13T12:21:43.212Z",
        "createdAt": "2026-06-13T11:21:43.893Z",
        "id": "kbiHS04LQQ6cOAs2",
        "name": "Saleh DG <REDACTED_EMAIL@example.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "11ec36fc-2c7e-4d1e-bfea-bb564e5f5b2f"
      }
    }
  ],
  "sourceWorkflowId": null,
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-16T17:33:32.698Z",
  "versionCounter": 107,
  "versionId": "9380e531-88f3-4adf-95dc-53791f5135c7"
}