Workflows/Folin (Calendar).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-14T18:27:44.000Z",
    "createdAt": "2026-06-14T18:27:33.378Z",
    "versionId": "71c4c3ec-3028-4dcf-898d-872b96e18860",
    "workflowId": "mI164p98uNwNZNWC",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "{{ $json.query }}",
                "type": "any"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "12d96ffd-66f6-4fc0-a56d-0f3210f369a6",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          208,
          0
        ],
        "id": "8761ded3-bd58-49b9-8b91-29495703de1d",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1.1,
        "position": [
          80,
          208
        ],
        "id": "5c9752e9-58ed-4fa0-9f92-be39a70c5ce2",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "k27SnwImRZKrqF5r",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "REDACTED_EMAIL@example.com",
            "mode": "list",
            "cachedResultName": "REDACTED_EMAIL@example.com"
          },
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          368,
          208
        ],
        "id": "11297991-2c4d-44db-a134-4548bc79ef43",
        "name": "Buat Jadwal",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "REDACTED_EMAIL@example.com",
            "mode": "list",
            "cachedResultName": "REDACTED_EMAIL@example.com"
          },
          "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
          "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
          "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          496,
          208
        ],
        "id": "3411b68d-093e-4ac2-b32a-146e2084e2ee",
        "name": "Ambil Data",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "REDACTED_EMAIL@example.com",
            "mode": "list",
            "cachedResultName": "REDACTED_EMAIL@example.com"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "updateFields": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          624,
          208
        ],
        "id": "76e05bc7-2633-467e-a762-6826219d4005",
        "name": "Update jadwal",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "REDACTED_EMAIL@example.com",
            "mode": "list",
            "cachedResultName": "REDACTED_EMAIL@example.com"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          752,
          208
        ],
        "id": "f81e4095-895c-4999-9be3-2c49b9eaa322",
        "name": "Hapus data",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Buat Jadwal": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Ambil Data": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Update jadwal": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Hapus data": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Saleh DG",
    "name": "tes",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-14T18:27:44.473Z",
        "id": 23,
        "workflowId": "mI164p98uNwNZNWC",
        "versionId": "71c4c3ec-3028-4dcf-898d-872b96e18860",
        "event": "activated",
        "userId": "11ec36fc-2c7e-4d1e-bfea-bb564e5f5b2f"
      }
    ]
  },
  "activeVersionId": "71c4c3ec-3028-4dcf-898d-872b96e18860",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Buat Jadwal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update jadwal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hapus data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-14T17:03:08.078Z",
  "description": null,
  "id": "mI164p98uNwNZNWC",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Folin (Calendar)",
  "nodeGroups": [],
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "{{ $json.query }}",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "12d96ffd-66f6-4fc0-a56d-0f3210f369a6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "8761ded3-bd58-49b9-8b91-29495703de1d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        80,
        208
      ],
      "id": "5c9752e9-58ed-4fa0-9f92-be39a70c5ce2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "k27SnwImRZKrqF5r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "REDACTED_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "REDACTED_EMAIL@example.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        368,
        208
      ],
      "id": "11297991-2c4d-44db-a134-4548bc79ef43",
      "name": "Buat Jadwal",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "REDACTED_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "REDACTED_EMAIL@example.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        496,
        208
      ],
      "id": "3411b68d-093e-4ac2-b32a-146e2084e2ee",
      "name": "Ambil Data",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "REDACTED_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "REDACTED_EMAIL@example.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        624,
        208
      ],
      "id": "76e05bc7-2633-467e-a762-6826219d4005",
      "name": "Update jadwal",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "REDACTED_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "REDACTED_EMAIL@example.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        752,
        208
      ],
      "id": "f81e4095-895c-4999-9be3-2c49b9eaa322",
      "name": "Hapus data",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-06-14T17:03:08.084Z",
      "createdAt": "2026-06-14T17:03:08.084Z",
      "role": "workflow:owner",
      "workflowId": "mI164p98uNwNZNWC",
      "projectId": "kbiHS04LQQ6cOAs2",
      "project": {
        "updatedAt": "2026-06-13T12:21:43.212Z",
        "createdAt": "2026-06-13T11:21:43.893Z",
        "id": "kbiHS04LQQ6cOAs2",
        "name": "Saleh DG <REDACTED_EMAIL@example.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "11ec36fc-2c7e-4d1e-bfea-bb564e5f5b2f"
      }
    }
  ],
  "sourceWorkflowId": null,
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-14T18:27:33.376Z",
  "versionCounter": 69,
  "versionId": "71c4c3ec-3028-4dcf-898d-872b96e18860"
}