Workflows/Folin.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-17T02:52:41.000Z",
    "createdAt": "2026-06-17T02:52:40.556Z",
    "versionId": "be2bad12-5d44-40a7-b0fa-88e6ee5cf987",
    "workflowId": "c517osOLx0Zbnd7M",
    "nodes": [
      {
        "parameters": {
          "promptType": "=define",
          "text": "={{ $('WAHA Trigger').item.json.payload.body }}",
          "options": {
            "systemMessage": "=# PERAN & TUGAS UTAMA\nTugas utamamu adalah mengeksekusi semua kebutuhan tentang Google Calendar dan memilah apakah jadwal ini masuk ke ranah Kalender Pribadi atau Kalender HRD.\n\n# WAKTU SAAT INI\n{{ $now.setZone('Asia/Jakarta').toFormat('cccc, dd MMMM yyyy - HH:mm WIB') }}\n\n# IDENTITAS PENGIRIM & AKSES\n\nPengirim saat ini: {{ $('WAHA Trigger').item.json.payload.from }}\n\n⚠️ LANGKAH WAJIB PERTAMA — sebelum melakukan APAPUN:\nBaca nilai pengirim di atas. Cocokkan dengan aksesnya:\n\nAturan akses:\n- REDACTED_OWNER_ID@lid (Saleh) → akses penuh semua fitur & data pribadi\n- REDACTED_GROUP_HRD@g.us (Grup HRD) & REDACTED_GROUP_PERSONAL@g.us (Grup pribadi) → akses tool HRD saja, tidak boleh akses tool pribadi sama sekali.\n\n⚠️ Jangan asumsikan setiap pengirim adalah Saleh.\n\n# CATATAN & ATURAN KERJA\n1. Alur Eksekusi: \n   Identifikasi siapa yang meminta/asal grup -> Ekstrak detail jadwal -> Eksekusi [Tools] -> Konfirmasi ke AI Induk.\n\n2. Format Judul Acara (Summary):\n   Nama Acara | Waktu Mulai (Jadwal Siapa)\n   Contoh: Interview Kandidat | 10:00 WIB (HRD)\n\n3. Aturan Privasi & Pemilahan (MUTLAK):\n\n- Grup hanya boleh meminta list tugas HRD.\n- Task pribadi hanya boleh di akses Saleh seorang, tanpa terkecuali!. Jika ada yang meminta, berikan saja apa yang dia izinkan, jangan berikan yang ini!\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          912,
          160
        ],
        "id": "f5dbe28a-b29b-460b-a298-39af5ac61fe9",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.5-flash",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1.1,
        "position": [
          912,
          352
        ],
        "id": "cf636936-5d00-422b-8230-fe804f33399f",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "k27SnwImRZKrqF5r",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {},
        "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
        "typeVersion": 202502,
        "position": [
          -608,
          128
        ],
        "id": "cc10be87-e1d0-4d64-b29f-ea322e1653f5",
        "name": "WAHA Trigger",
        "webhookId": "2f55e258-e093-4abb-8058-2d780839d6b1"
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Send Text",
          "session": "={{ $('WAHA Trigger').item.json.session }}",
          "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
          "text": "={{ $('AI Agent').item.json.output }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          1632,
          160
        ],
        "id": "fb3544a2-db57-47ed-bd7d-1105fa471dd2",
        "name": "Send a text message",
        "credentials": {
          "wahaApi": {
            "id": "WwLPlwPMLibeRJai",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Send Seen",
          "participant": "",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          320,
          160
        ],
        "id": "a339207f-62b6-437c-8b72-da5d8fb77361",
        "name": "Send Seen",
        "credentials": {
          "wahaApi": {
            "id": "WwLPlwPMLibeRJai",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Start Typing",
          "session": "={{ $('WAHA Trigger').item.json.session }}",
          "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          672,
          160
        ],
        "id": "98aebe63-bb30-4481-8d57-d5db1d82f665",
        "name": "Start Typing",
        "credentials": {
          "wahaApi": {
            "id": "WwLPlwPMLibeRJai",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Stop Typing",
          "session": "={{ $('WAHA Trigger').item.json.session }}",
          "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          1392,
          160
        ],
        "id": "afca1cca-b6fa-4f70-90f6-77a0fd4ee3c3",
        "name": "Stop Typing",
        "credentials": {
          "wahaApi": {
            "id": "WwLPlwPMLibeRJai",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "amount": "=4"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          496,
          160
        ],
        "id": "b94229d1-aa2f-485e-9ce3-c64248644a8d",
        "name": "Wait",
        "webhookId": "31666874-2f48-472f-bfcd-7b97434314a7"
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.5-flash",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1.1,
        "position": [
          416,
          800
        ],
        "id": "64ed482f-7ec0-45bb-bf63-17c019e93d34",
        "name": "Google Gemini Chat Model1",
        "credentials": {
          "googlePalmApi": {
            "id": "k27SnwImRZKrqF5r",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "toolDescription": "Gunakan alat ini HANYA ketika user meminta untuk mencatat tugas, hal yang harus dikerjakan (to-do list), atau menanyakan daftar pekerjaan yang belum selesai.",
          "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
          "options": {
            "systemMessage": "=# PERAN & TUGAS UTAMA\nTugas utamamu adalah mengeksekusi semua kebutuhan tentang Google Tasks dan memilah apakah tugas ini termasuk ke Task Pribadi atau Task HRD.\n\n# WAKTU SAAT INI\n{{ $now.setZone('Asia/Jakarta').toFormat('cccc, dd MMMM yyyy - HH:mm WIB') }}\n\n# IDENTITAS PENGIRIM & AKSES\n\nPengirim saat ini: {{ $('WAHA Trigger').item.json.payload.from }}\n\n⚠️ LANGKAH WAJIB PERTAMA — sebelum melakukan APAPUN:\nBaca nilai pengirim di atas. Cocokkan dengan aksesnya:\n\nAturan akses:\n- REDACTED_OWNER_ID@lid (Saleh) → akses penuh semua fitur & data pribadi\n- REDACTED_GROUP_HRD@g.us (Grup HRD) & REDACTED_GROUP_PERSONAL@g.us (Grup pribadi) → akses tool HRD saja, tidak boleh akses tool pribadi sama sekali.\n\n⚠️ Jangan asumsikan setiap pengirim adalah Saleh.\n\n# CATATAN & ATURAN KERJA\n1. Alur Eksekusi: \n   Identifikasi siapa yang meminta/asal grup -> Ekstrak detail tugas -> Eksekusi [Tools] -> Konfirmasi ke AI Induk.\n\n2. Format Penulisan Tugas (Title):\n   Nama Tugas | Deadline (Tugas Siapa)\n   Contoh: Rekap Absensi Karyawan | 18 Juni 2026 (HRD)\n\n3. Aturan Privasi & Pemilahan (MUTLAK):\n  \n- Grup hanya boleh meminta list tugas HRD.\n- Task pribadi hanya boleh di akses Saleh seorang, tanpa terkecuali!. Jika ada yang meminta, berikan saja apa yang dia izinkan, jangan berikan yang ini!\n\n\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 3,
        "position": [
          608,
          592
        ],
        "id": "6eae9a41-dbdf-41fb-a9c5-5283d60d8fc4",
        "name": "AI Agent Google Task"
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.5-flash",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1.1,
        "position": [
          1296,
          832
        ],
        "id": "d04588f3-7d43-4fb0-acd1-f7947c683da6",
        "name": "Google Gemini Chat Model2",
        "credentials": {
          "googlePalmApi": {
            "id": "k27SnwImRZKrqF5r",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "toolDescription": "Gunakan alat ini HANYA ketika user meminta untuk membuat jadwal, mengatur waktu rapat, mencatat acara, atau menanyakan agenda di kalender.",
          "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
          "options": {
            "systemMessage": "# PERAN & TUGAS UTAMA\nTugas utamamu adalah mengeksekusi semua kebutuhan tentang Google Calendar dan memilah apakah jadwal ini masuk ke ranah Kalender Pribadi atau Kalender HRD.\n\n# WAKTU SAAT INI\n{{ $now.setZone('Asia/Jakarta').toFormat('cccc, dd MMMM yyyy - HH:mm WIB') }}\n\n# IDENTITAS PENGIRIM & AKSES\n\nPengirim saat ini: {{ $('WAHA Trigger').item.json.payload.from }}\n\n⚠️ LANGKAH WAJIB PERTAMA — sebelum melakukan APAPUN:\nBaca nilai pengirim di atas. Cocokkan dengan aksesnya:\n\nAturan akses:\n- REDACTED_OWNER_ID@lid (Saleh) → akses penuh semua fitur & data pribadi\n- REDACTED_GROUP_HRD@g.us (Grup HRD) & REDACTED_GROUP_PERSONAL@g.us (Grup pribadi) → akses tool HRD saja, tidak boleh akses tool pribadi sama sekali.\n\n⚠️ Jangan asumsikan setiap pengirim adalah Saleh.\n\n# CATATAN & ATURAN KERJA\n1. Alur Eksekusi: \n   Identifikasi siapa yang meminta/asal grup -> Ekstrak detail jadwal -> Eksekusi [Tools] -> Konfirmasi ke AI Induk.\n\n2. Format Judul Acara (Summary):\n   Nama Acara | Waktu Mulai (Jadwal Siapa)\n   Contoh: Interview Kandidat | 10:00 WIB (HRD)\n\n3. Aturan Privasi & Pemilahan (MUTLAK):\n\n- Grup hanya boleh meminta list jadwal HRD.\n- Jadwal pribadi hanya boleh di akses Saleh seorang, tanpa terkecuali!. Jika ada yang meminta, berikan saja apa yang dia izinkan, jangan berikan yang ini!\n",
            "autoSaveHighlightedData": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Auto-save_highlighted_data', ``, 'boolean') }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 3,
        "position": [
          1280,
          624
        ],
        "id": "4ab137e2-d153-4543-b298-5ea39a29d9dc",
        "name": "AI Agent Google Calendar"
      },
      {
        "parameters": {
          "task": "MTA4NTQ2NjcyNzIxMjYzMDM1Mzg6MDow",
          "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          576,
          816
        ],
        "id": "7a543adc-75f5-4c50-9365-35e2cbdeb7af",
        "name": "Buat Tugas Pribadi",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "6bTNNBL6dQ5T8XQE",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "task": "MTA4NTQ2NjcyNzIxMjYzMDM1Mzg6MDow",
          "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          736,
          816
        ],
        "id": "7da5bd2c-c205-4f6d-8989-4c037b515bed",
        "name": "Ambil Tugas Pribadi",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "6bTNNBL6dQ5T8XQE",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "task": "MTA4NTQ2NjcyNzIxMjYzMDM1Mzg6MDow",
          "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          1024,
          816
        ],
        "id": "1d07f26e-1042-4da4-a2d3-6948f9f0f63e",
        "name": "Hapus tugas pribadi",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "6bTNNBL6dQ5T8XQE",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "task": "MTA4NTQ2NjcyNzIxMjYzMDM1Mzg6MDow",
          "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
          "updateFields": {
            "status": "completed"
          }
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          880,
          816
        ],
        "id": "7b96a0ec-5fbc-415b-8711-31d4d7b28311",
        "name": "Perbarui tugas pribadi",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "6bTNNBL6dQ5T8XQE",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "task": "dDdWRzg5UHVjdWljcHBIdQ",
          "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          576,
          992
        ],
        "id": "5ff52d20-e058-4ac3-8bbc-e91b181dc95f",
        "name": "Buat Tugas HRD",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "6bTNNBL6dQ5T8XQE",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "task": "dDdWRzg5UHVjdWljcHBIdQ",
          "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          736,
          992
        ],
        "id": "6d5b3c35-67b1-4c72-aca3-7a906b4305fd",
        "name": "Ambil Tugas HRD",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "6bTNNBL6dQ5T8XQE",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "task": "dDdWRzg5UHVjdWljcHBIdQ",
          "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
          "updateFields": {
            "status": "completed"
          }
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          896,
          992
        ],
        "id": "2464ab65-458d-448d-8495-7a98a05139ea",
        "name": "Perbarui tugas HRD",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "6bTNNBL6dQ5T8XQE",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "task": "dDdWRzg5UHVjdWljcHBIdQ",
          "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          1056,
          992
        ],
        "id": "00e1c27d-619d-404d-812a-667d4f4e65e6",
        "name": "Hapus tugas HRD",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "6bTNNBL6dQ5T8XQE",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "490172bd9753c288167757286402d502e4172febb4da49f9a85725833afab235@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "HRD"
          },
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "additionalFields": {
            "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1520,
          1152
        ],
        "id": "7fdbea51-d4fe-40cc-85ba-64bd1a5073b7",
        "name": "Buat Jadwal HRD",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "490172bd9753c288167757286402d502e4172febb4da49f9a85725833afab235@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "HRD"
          },
          "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
          "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
          "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1712,
          1152
        ],
        "id": "f88ebf37-0ade-4e82-a4fa-661c36cde2d4",
        "name": "Ambil jadwal HRD",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "490172bd9753c288167757286402d502e4172febb4da49f9a85725833afab235@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "HRD"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "updateFields": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1888,
          1152
        ],
        "id": "0aef0102-a349-4bf3-aae1-031b49104f84",
        "name": "Perbaharui data HRD",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "REDACTED_EMAIL@example.com",
            "mode": "list",
            "cachedResultName": "REDACTED_EMAIL@example.com"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "updateFields": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1872,
          944
        ],
        "id": "d7ca9901-55c9-4f01-9fd5-e1a72559cb0c",
        "name": "Perbaharui jadwal pribadi",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "REDACTED_EMAIL@example.com",
            "mode": "list",
            "cachedResultName": "REDACTED_EMAIL@example.com"
          },
          "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
          "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
          "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1696,
          944
        ],
        "id": "ce341f7d-a8f7-4633-8d6b-82f2dfe12e54",
        "name": "Ambil jadwal pribadi1",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "REDACTED_EMAIL@example.com",
            "mode": "list",
            "cachedResultName": "REDACTED_EMAIL@example.com"
          },
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "additionalFields": {
            "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1520,
          944
        ],
        "id": "d989b50b-1021-47b0-86e4-18be388ceed5",
        "name": "Bikin jadwal pribadi",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "REDACTED_EMAIL@example.com",
            "mode": "list",
            "cachedResultName": "REDACTED_EMAIL@example.com"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          2032,
          944
        ],
        "id": "f1da765d-9ba5-43d9-8b89-b1b2f6d90119",
        "name": "Hapus jadwal pribadi",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "490172bd9753c288167757286402d502e4172febb4da49f9a85725833afab235@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "HRD"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          2048,
          1152
        ],
        "id": "7ff920e4-3f21-4125-9e2a-7451d78d8d91",
        "name": "Hapus data HRD",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "=define",
          "text": "={{ $('WAHA Trigger').item.json.payload.body }}",
          "options": {
            "systemMessage": "=# IDENTITAS\nNama: Folin | Panggilan: \"Lin\"\n\nSelalu gunakan nama lengkap Folin saat menyebut diri sendiri.\n\"Lin\" hanya panggilan dari user, bukan cara kamu memperkenalkan diri.\n\n---\n\n# KONTEKS KAMU\n\nKamu adalah mode percakapan Folin yang melayani pengguna umum —\norang yang belum terdaftar sebagai pengguna resmi.\n\nTugasmu hanya satu: ngobrol dengan baik.\n\n--\n\n# APA YANG BOLEH KAMU LAKUKAN\n\n✓ Menjawab pertanyaan umum dari pengetahuan sendiri\n✓ Obrolan santai, tanya jawab, diskusi topik umum\n✓ Memberikan saran, opini, atau informasi yang sifatnya publik\n✓ Menemani ngobrol dengan hangat dan natural\n\n---\n\n# KEPRIBADIAN & CARA BICARA\n\n- Santai dan hangat — seperti teman, bukan asisten korporat\n- Natural, boleh sedikit bahasa gaul sesuai suasana\n- To the point, tidak bertele-tele\n- Jika tidak tahu sesuatu → jujur saja, singkat\n\n---\n\n# FORMAT (WhatsApp)\n\n- Gunakan *bold* untuk hal penting\n- List pakai (–) atau nomor, beri jarak antar poin\n- Paragraf pendek, hindari dinding teks\n- Emoji secukupnya\n- Hindari ##, ---, dan formatting yang tidak didukung WhatsApp\n- Prioritaskan: mudah dibaca dan singkat"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1296,
          -320
        ],
        "id": "c35ceb45-fb06-4e8f-8585-ef6cd1a39224",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.5-flash",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1.1,
        "position": [
          1296,
          -128
        ],
        "id": "091a215c-0880-46ab-87d1-a0923f3caf96",
        "name": "Google Gemini Chat Model3",
        "credentials": {
          "googlePalmApi": {
            "id": "k27SnwImRZKrqF5r",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Send Text",
          "session": "={{ $('WAHA Trigger').item.json.session }}",
          "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
          "text": "={{ $('AI Agent1').item.json.output }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          2016,
          -320
        ],
        "id": "e8a7f8b2-018e-472a-8032-8e2b547ec7b8",
        "name": "Send a text message1",
        "credentials": {
          "wahaApi": {
            "id": "WwLPlwPMLibeRJai",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Send Seen",
          "participant": "",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          640,
          -320
        ],
        "id": "dff0d1ad-6f19-4874-b0d5-0e576679820a",
        "name": "Send Seen1",
        "credentials": {
          "wahaApi": {
            "id": "WwLPlwPMLibeRJai",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Start Typing",
          "session": "={{ $('WAHA Trigger').item.json.session }}",
          "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          1056,
          -320
        ],
        "id": "9605a6b1-9057-4359-bd0c-0e93a1e2e5c6",
        "name": "Start Typing1",
        "credentials": {
          "wahaApi": {
            "id": "WwLPlwPMLibeRJai",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Stop Typing",
          "session": "={{ $('WAHA Trigger').item.json.session }}",
          "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          1776,
          -320
        ],
        "id": "8bd479b1-c61a-4eaf-9748-c6ade964c972",
        "name": "Stop Typing1",
        "credentials": {
          "wahaApi": {
            "id": "WwLPlwPMLibeRJai",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "amount": "=4"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          848,
          -320
        ],
        "id": "3c5bb10b-cfff-492e-aa06-2bd4f7b35453",
        "name": "Wait1",
        "webhookId": "31666874-2f48-472f-bfcd-7b97434314a7"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "626e85f1-3e23-462b-b7c8-85ff99a7e3c5",
                "leftValue": "={{ $('WAHA Trigger').item.json.payload.body }}",
                "rightValue": "@263827644006534",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -192,
          -48
        ],
        "id": "6e7233e8-35e5-4a6b-a4e8-d7cf8ac2846e",
        "name": "Di tag?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d9422915-c9ea-4eb1-a041-a525cf16b016",
                "leftValue": "={{ $json.payload.from}}",
                "rightValue": "g.us",
                "operator": {
                  "type": "string",
                  "operation": "endsWith"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -352,
          144
        ],
        "id": "b2d4bab7-590d-41b9-a836-b5c42db3cc6a",
        "name": "Grub / Pribadi"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('WAHA Trigger').item.json.payload.from }}",
                      "rightValue": "REDACTED_OWNER_ID@lid",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "76b56e05-a4a0-45b4-b93a-c6723fda4069"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Saleh"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "d75a7a13-63ad-4125-a62f-bd1e5caaff8c",
                      "leftValue": "={{ $('WAHA Trigger').item.json.payload.from }}",
                      "rightValue": "REDACTED_GROUP_HRD@g.us",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Grup HRD"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "b1e68deb-9dff-42c5-9f89-91d529224595",
                      "leftValue": "={{ $('WAHA Trigger').item.json.payload.from }}",
                      "rightValue": "REDACTED_GROUP_PERSONAL@g.us",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Grup Pribadi"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          0,
          160
        ],
        "id": "7de437f4-31b3-4dc9-8160-641046ce6094",
        "name": "Switch"
      }
    ],
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "node": "Stop Typing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "WAHA Trigger": {
        "main": [
          [],
          [
            {
              "node": "Grub / Pribadi",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Seen": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start Typing": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stop Typing": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Start Typing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent Google Task",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent Google Task": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent Google Calendar",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent Google Calendar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Buat Tugas Pribadi": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Task",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Ambil Tugas Pribadi": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Task",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Hapus tugas pribadi": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Task",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Perbarui tugas pribadi": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Task",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Buat Tugas HRD": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Task",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Ambil Tugas HRD": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Task",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Perbarui tugas HRD": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Task",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Hapus tugas HRD": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Task",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Buat Jadwal HRD": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Calendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Ambil jadwal HRD": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Calendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Perbaharui data HRD": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Calendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Perbaharui jadwal pribadi": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Calendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Ambil jadwal pribadi1": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Calendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Bikin jadwal pribadi": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Calendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Hapus jadwal pribadi": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Calendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Hapus data HRD": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Calendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Stop Typing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model3": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Send Seen1": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start Typing1": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stop Typing1": {
        "main": [
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Start Typing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Di tag?": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Grub / Pribadi": {
        "main": [
          [
            {
              "node": "Di tag?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Send Seen",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Seen",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Seen",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Seen1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Saleh DG",
    "name": "Version be2bad12",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-17T02:52:41.920Z",
        "id": 77,
        "workflowId": "c517osOLx0Zbnd7M",
        "versionId": "be2bad12-5d44-40a7-b0fa-88e6ee5cf987",
        "event": "activated",
        "userId": "11ec36fc-2c7e-4d1e-bfea-bb564e5f5b2f"
      }
    ]
  },
  "activeVersionId": "be2bad12-5d44-40a7-b0fa-88e6ee5cf987",
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Stop Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "Grub / Pribadi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Google Task",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Google Task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Google Calendar",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buat Tugas Pribadi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Task",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Tugas Pribadi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Task",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hapus tugas pribadi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Task",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Perbarui tugas pribadi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Task",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buat Tugas HRD": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Task",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Tugas HRD": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Task",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Perbarui tugas HRD": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Task",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hapus tugas HRD": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Task",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buat Jadwal HRD": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ambil jadwal HRD": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Perbaharui data HRD": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Perbaharui jadwal pribadi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ambil jadwal pribadi1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Bikin jadwal pribadi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hapus jadwal pribadi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hapus data HRD": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Di tag?": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Grub / Pribadi": {
      "main": [
        [
          {
            "node": "Di tag?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-13T12:24:31.175Z",
  "description": null,
  "id": "c517osOLx0Zbnd7M",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Folin",
  "nodeGroups": [],
  "nodes": [
    {
      "parameters": {
        "promptType": "=define",
        "text": "={{ $('WAHA Trigger').item.json.payload.body }}",
        "options": {
          "systemMessage": "=# PERAN & TUGAS UTAMA\nTugas utamamu adalah mengeksekusi semua kebutuhan tentang Google Calendar dan memilah apakah jadwal ini masuk ke ranah Kalender Pribadi atau Kalender HRD.\n\n# WAKTU SAAT INI\n{{ $now.setZone('Asia/Jakarta').toFormat('cccc, dd MMMM yyyy - HH:mm WIB') }}\n\n# IDENTITAS PENGIRIM & AKSES\n\nPengirim saat ini: {{ $('WAHA Trigger').item.json.payload.from }}\n\n⚠️ LANGKAH WAJIB PERTAMA — sebelum melakukan APAPUN:\nBaca nilai pengirim di atas. Cocokkan dengan aksesnya:\n\nAturan akses:\n- REDACTED_OWNER_ID@lid (Saleh) → akses penuh semua fitur & data pribadi\n- REDACTED_GROUP_HRD@g.us (Grup HRD) & REDACTED_GROUP_PERSONAL@g.us (Grup pribadi) → akses tool HRD saja, tidak boleh akses tool pribadi sama sekali.\n\n⚠️ Jangan asumsikan setiap pengirim adalah Saleh.\n\n# CATATAN & ATURAN KERJA\n1. Alur Eksekusi: \n   Identifikasi siapa yang meminta/asal grup -> Ekstrak detail jadwal -> Eksekusi [Tools] -> Konfirmasi ke AI Induk.\n\n2. Format Judul Acara (Summary):\n   Nama Acara | Waktu Mulai (Jadwal Siapa)\n   Contoh: Interview Kandidat | 10:00 WIB (HRD)\n\n3. Aturan Privasi & Pemilahan (MUTLAK):\n\n- Grup hanya boleh meminta list tugas HRD.\n- Task pribadi hanya boleh di akses Saleh seorang, tanpa terkecuali!. Jika ada yang meminta, berikan saja apa yang dia izinkan, jangan berikan yang ini!\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        160
      ],
      "id": "f5dbe28a-b29b-460b-a298-39af5ac61fe9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        912,
        352
      ],
      "id": "cf636936-5d00-422b-8230-fe804f33399f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "k27SnwImRZKrqF5r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        -608,
        128
      ],
      "id": "cc10be87-e1d0-4d64-b29f-ea322e1653f5",
      "name": "WAHA Trigger",
      "webhookId": "2f55e258-e093-4abb-8058-2d780839d6b1"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1632,
        160
      ],
      "id": "fb3544a2-db57-47ed-bd7d-1105fa471dd2",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "WwLPlwPMLibeRJai",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "participant": "",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        480,
        160
      ],
      "id": "a339207f-62b6-437c-8b72-da5d8fb77361",
      "name": "Send Seen",
      "credentials": {
        "wahaApi": {
          "id": "WwLPlwPMLibeRJai",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        768,
        160
      ],
      "id": "98aebe63-bb30-4481-8d57-d5db1d82f665",
      "name": "Start Typing",
      "credentials": {
        "wahaApi": {
          "id": "WwLPlwPMLibeRJai",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1392,
        160
      ],
      "id": "afca1cca-b6fa-4f70-90f6-77a0fd4ee3c3",
      "name": "Stop Typing",
      "credentials": {
        "wahaApi": {
          "id": "WwLPlwPMLibeRJai",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": "=4"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        624,
        160
      ],
      "id": "b94229d1-aa2f-485e-9ce3-c64248644a8d",
      "name": "Wait",
      "webhookId": "31666874-2f48-472f-bfcd-7b97434314a7"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        416,
        800
      ],
      "id": "64ed482f-7ec0-45bb-bf63-17c019e93d34",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "k27SnwImRZKrqF5r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Gunakan alat ini HANYA ketika user meminta untuk mencatat tugas, hal yang harus dikerjakan (to-do list), atau menanyakan daftar pekerjaan yang belum selesai.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=# PERAN & TUGAS UTAMA\nTugas utamamu adalah mengeksekusi semua kebutuhan tentang Google Tasks dan memilah apakah tugas ini termasuk ke Task Pribadi atau Task HRD.\n\n# WAKTU SAAT INI\n{{ $now.setZone('Asia/Jakarta').toFormat('cccc, dd MMMM yyyy - HH:mm WIB') }}\n\n# IDENTITAS PENGIRIM & AKSES\n\nPengirim saat ini: {{ $('WAHA Trigger').item.json.payload.from }}\n\n⚠️ LANGKAH WAJIB PERTAMA — sebelum melakukan APAPUN:\nBaca nilai pengirim di atas. Cocokkan dengan aksesnya:\n\nAturan akses:\n- REDACTED_OWNER_ID@lid (Saleh) → akses penuh semua fitur & data pribadi\n- REDACTED_GROUP_HRD@g.us (Grup HRD) & REDACTED_GROUP_PERSONAL@g.us (Grup pribadi) → akses tool HRD saja, tidak boleh akses tool pribadi sama sekali.\n\n⚠️ Jangan asumsikan setiap pengirim adalah Saleh.\n\n# CATATAN & ATURAN KERJA\n1. Alur Eksekusi: \n   Identifikasi siapa yang meminta/asal grup -> Ekstrak detail tugas -> Eksekusi [Tools] -> Konfirmasi ke AI Induk.\n\n2. Format Penulisan Tugas (Title):\n   Nama Tugas | Deadline (Tugas Siapa)\n   Contoh: Rekap Absensi Karyawan | 18 Juni 2026 (HRD)\n\n3. Aturan Privasi & Pemilahan (MUTLAK):\n  \n- Grup hanya boleh meminta list tugas HRD.\n- Task pribadi hanya boleh di akses Saleh seorang, tanpa terkecuali!. Jika ada yang meminta, berikan saja apa yang dia izinkan, jangan berikan yang ini!\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        608,
        592
      ],
      "id": "6eae9a41-dbdf-41fb-a9c5-5283d60d8fc4",
      "name": "AI Agent Google Task"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1296,
        832
      ],
      "id": "d04588f3-7d43-4fb0-acd1-f7947c683da6",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "k27SnwImRZKrqF5r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Gunakan alat ini HANYA ketika user meminta untuk membuat jadwal, mengatur waktu rapat, mencatat acara, atau menanyakan agenda di kalender.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "# PERAN & TUGAS UTAMA\nTugas utamamu adalah mengeksekusi semua kebutuhan tentang Google Calendar dan memilah apakah jadwal ini masuk ke ranah Kalender Pribadi atau Kalender HRD.\n\n# WAKTU SAAT INI\n{{ $now.setZone('Asia/Jakarta').toFormat('cccc, dd MMMM yyyy - HH:mm WIB') }}\n\n# IDENTITAS PENGIRIM & AKSES\n\nPengirim saat ini: {{ $('WAHA Trigger').item.json.payload.from }}\n\n⚠️ LANGKAH WAJIB PERTAMA — sebelum melakukan APAPUN:\nBaca nilai pengirim di atas. Cocokkan dengan aksesnya:\n\nAturan akses:\n- REDACTED_OWNER_ID@lid (Saleh) → akses penuh semua fitur & data pribadi\n- REDACTED_GROUP_HRD@g.us (Grup HRD) & REDACTED_GROUP_PERSONAL@g.us (Grup pribadi) → akses tool HRD saja, tidak boleh akses tool pribadi sama sekali.\n\n⚠️ Jangan asumsikan setiap pengirim adalah Saleh.\n\n# CATATAN & ATURAN KERJA\n1. Alur Eksekusi: \n   Identifikasi siapa yang meminta/asal grup -> Ekstrak detail jadwal -> Eksekusi [Tools] -> Konfirmasi ke AI Induk.\n\n2. Format Judul Acara (Summary):\n   Nama Acara | Waktu Mulai (Jadwal Siapa)\n   Contoh: Interview Kandidat | 10:00 WIB (HRD)\n\n3. Aturan Privasi & Pemilahan (MUTLAK):\n\n- Grup hanya boleh meminta list jadwal HRD.\n- Jadwal pribadi hanya boleh di akses Saleh seorang, tanpa terkecuali!. Jika ada yang meminta, berikan saja apa yang dia izinkan, jangan berikan yang ini!\n",
          "autoSaveHighlightedData": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Auto-save_highlighted_data', ``, 'boolean') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        1280,
        624
      ],
      "id": "4ab137e2-d153-4543-b298-5ea39a29d9dc",
      "name": "AI Agent Google Calendar"
    },
    {
      "parameters": {
        "task": "MTA4NTQ2NjcyNzIxMjYzMDM1Mzg6MDow",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        576,
        816
      ],
      "id": "7a543adc-75f5-4c50-9365-35e2cbdeb7af",
      "name": "Buat Tugas Pribadi",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6bTNNBL6dQ5T8XQE",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MTA4NTQ2NjcyNzIxMjYzMDM1Mzg6MDow",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        736,
        816
      ],
      "id": "7da5bd2c-c205-4f6d-8989-4c037b515bed",
      "name": "Ambil Tugas Pribadi",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6bTNNBL6dQ5T8XQE",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "task": "MTA4NTQ2NjcyNzIxMjYzMDM1Mzg6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1024,
        816
      ],
      "id": "1d07f26e-1042-4da4-a2d3-6948f9f0f63e",
      "name": "Hapus tugas pribadi",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6bTNNBL6dQ5T8XQE",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "task": "MTA4NTQ2NjcyNzIxMjYzMDM1Mzg6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
        "updateFields": {
          "status": "completed"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        880,
        816
      ],
      "id": "7b96a0ec-5fbc-415b-8711-31d4d7b28311",
      "name": "Perbarui tugas pribadi",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6bTNNBL6dQ5T8XQE",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "task": "dDdWRzg5UHVjdWljcHBIdQ",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        576,
        992
      ],
      "id": "5ff52d20-e058-4ac3-8bbc-e91b181dc95f",
      "name": "Buat Tugas HRD",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6bTNNBL6dQ5T8XQE",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "dDdWRzg5UHVjdWljcHBIdQ",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        736,
        992
      ],
      "id": "6d5b3c35-67b1-4c72-aca3-7a906b4305fd",
      "name": "Ambil Tugas HRD",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6bTNNBL6dQ5T8XQE",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "task": "dDdWRzg5UHVjdWljcHBIdQ",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
        "updateFields": {
          "status": "completed"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        896,
        992
      ],
      "id": "2464ab65-458d-448d-8495-7a98a05139ea",
      "name": "Perbarui tugas HRD",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6bTNNBL6dQ5T8XQE",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "task": "dDdWRzg5UHVjdWljcHBIdQ",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1056,
        992
      ],
      "id": "00e1c27d-619d-404d-812a-667d4f4e65e6",
      "name": "Hapus tugas HRD",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6bTNNBL6dQ5T8XQE",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "490172bd9753c288167757286402d502e4172febb4da49f9a85725833afab235@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "HRD"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1520,
        1152
      ],
      "id": "7fdbea51-d4fe-40cc-85ba-64bd1a5073b7",
      "name": "Buat Jadwal HRD",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "490172bd9753c288167757286402d502e4172febb4da49f9a85725833afab235@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "HRD"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1712,
        1152
      ],
      "id": "f88ebf37-0ade-4e82-a4fa-661c36cde2d4",
      "name": "Ambil jadwal HRD",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "490172bd9753c288167757286402d502e4172febb4da49f9a85725833afab235@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "HRD"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1888,
        1152
      ],
      "id": "0aef0102-a349-4bf3-aae1-031b49104f84",
      "name": "Perbaharui data HRD",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "REDACTED_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "REDACTED_EMAIL@example.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1872,
        944
      ],
      "id": "d7ca9901-55c9-4f01-9fd5-e1a72559cb0c",
      "name": "Perbaharui jadwal pribadi",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "REDACTED_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "REDACTED_EMAIL@example.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1696,
        944
      ],
      "id": "ce341f7d-a8f7-4633-8d6b-82f2dfe12e54",
      "name": "Ambil jadwal pribadi1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "REDACTED_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "REDACTED_EMAIL@example.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1520,
        944
      ],
      "id": "d989b50b-1021-47b0-86e4-18be388ceed5",
      "name": "Bikin jadwal pribadi",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "REDACTED_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "REDACTED_EMAIL@example.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2032,
        944
      ],
      "id": "f1da765d-9ba5-43d9-8b89-b1b2f6d90119",
      "name": "Hapus jadwal pribadi",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "490172bd9753c288167757286402d502e4172febb4da49f9a85725833afab235@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "HRD"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2048,
        1152
      ],
      "id": "7ff920e4-3f21-4125-9e2a-7451d78d8d91",
      "name": "Hapus data HRD",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "626e85f1-3e23-462b-b7c8-85ff99a7e3c5",
              "leftValue": "={{ $('WAHA Trigger').item.json.payload.body }}",
              "rightValue": "@263827644006534",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -192,
        -48
      ],
      "id": "6e7233e8-35e5-4a6b-a4e8-d7cf8ac2846e",
      "name": "Di tag?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d9422915-c9ea-4eb1-a041-a525cf16b016",
              "leftValue": "={{ $json.payload.from}}",
              "rightValue": "g.us",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -352,
        144
      ],
      "id": "b2d4bab7-590d-41b9-a836-b5c42db3cc6a",
      "name": "Grub / Pribadi"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WAHA Trigger').item.json.payload.from }}",
                    "rightValue": "REDACTED_OWNER_ID@lid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "76b56e05-a4a0-45b4-b93a-c6723fda4069"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Saleh"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d75a7a13-63ad-4125-a62f-bd1e5caaff8c",
                    "leftValue": "={{ $('WAHA Trigger').item.json.payload.from }}",
                    "rightValue": "REDACTED_GROUP_HRD@g.us",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Grup HRD"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1e68deb-9dff-42c5-9f89-91d529224595",
                    "leftValue": "={{ $('WAHA Trigger').item.json.payload.from }}",
                    "rightValue": "REDACTED_GROUP_PERSONAL@g.us",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Grup Pribadi"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        0,
        160
      ],
      "id": "7de437f4-31b3-4dc9-8160-641046ce6094",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bea4c17a-d419-4b94-80df-1ef591d526fb",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        48
      ],
      "id": "38f3a508-0c32-4164-af40-543525e3c8a9",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jakarta",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-06-13T12:24:31.186Z",
      "createdAt": "2026-06-13T12:24:31.186Z",
      "role": "workflow:owner",
      "workflowId": "c517osOLx0Zbnd7M",
      "projectId": "kbiHS04LQQ6cOAs2",
      "project": {
        "updatedAt": "2026-06-13T12:21:43.212Z",
        "createdAt": "2026-06-13T11:21:43.893Z",
        "id": "kbiHS04LQQ6cOAs2",
        "name": "Saleh DG <REDACTED_EMAIL@example.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "11ec36fc-2c7e-4d1e-bfea-bb564e5f5b2f"
      }
    }
  ],
  "sourceWorkflowId": null,
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-17T08:18:21.523Z",
  "versionCounter": 951,
  "versionId": "4e8a4f9e-2bb9-4def-8253-e7e6c864be85"
}