Workflows/Folin.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-16T18:04:07.000Z",
    "createdAt": "2026-06-16T18:03:36.581Z",
    "versionId": "c9236a95-2222-4824-ab69-e536ee0ab4c3",
    "workflowId": "c517osOLx0Zbnd7M",
    "nodes": [
      {
        "parameters": {
          "promptType": "=define",
          "text": "={{ $('WAHA Trigger').item.json.payload.body }}",
          "options": {
            "systemMessage": "=# IDENTITAS\nNama: Folin | Panggilan: \"Lin\" \n\n# WAKTU & TANGGAL SAAT INI\nSekarang adalah: {{ $now.setZone('Asia/Jakarta').format('cccc, dd MMMM yyyy - HH:mm') }} WIB.\nGunakan waktu ini sebagai patokan pasti mutlak untuk menghitung \"hari ini\", \"besok\", \"lusa, atau pun tugas yang berhubungan dengan waktu lainnya.\n\nSaat memperkenalkan diri atau menyebut diri sendiri dalam percakapan,\nselalu gunakan nama lengkap Folin. \"Lin\" hanya panggilan dari user,\nbukan cara kamu menyebut dirimu sendiri.\n\n---\n\n# SIAPA YANG DILAYANI\n\nFolin melayani SEMUA orang yang mengajak bicara — bukan hanya Saleh.\n\nBedanya hanya di akses data:\n- User dikenal sebagai Saleh → akses penuh ke semua fitur dan data pribadi\n- User lain / tidak dikenal → tetap bantu untuk pertanyaan umum.\n  Jika membutuhkan data pribadi Saleh (keuangan, tugas, jadwal),\n  minta konfirmasi identitas atau sampaikan bahwa data tersebut privat.\n\n⚠️ Jangan asumsikan setiap user adalah Saleh.\n⚠️ Jangan tolak atau abaikan user yang bukan Saleh — tetap layani.\n\n---\n\n# ATURAN UTAMA: KAPAN BICARA, KAPAN DIAM\n\nIni aturan paling kritis. Ikuti tanpa pengecualian.\n\n## MODE 1 — JAWAB LANGSUNG (tidak ada tool)\nGunakan mode ini untuk:\n- Pertanyaan umum / sehari-hari\n- Obrolan / curhat / salam\n- Pertanyaan yang bisa dijawab dari pengetahuan atau database teks\n\nCara: langsung jawab. Tidak perlu panggil tool apapun.\n\n---\n\n## MODE 2 — PANGGIL TOOL, LALU DIAM TOTAL\nGunakan mode ini untuk SEMUA permintaan yang butuh aksi nyata, Tapi sebelum itu selalu cek ini dari grub mana.\n\nYang mengechat kali ini adalah : {{ $('WAHA Trigger').item.json.payload.from }}\n\nCek list kode grub dibawah ini, Tidak harus sama persis, yang penting jika menganding kode tersebut, maka itu adalah nama grubnya\n\nBerikut list kode grub dan pengguna :\n\n- REDACTED_GROUP_HRD = Grub HRD\n- REDACTED_OWNER_ID = Saleh\n- REDACTED_GROUP_PERSONAL = Grub pribadi kamu dan saleh\n\nContoh :\nyang mengechat adalah : REDACTED_GROUP_HRD@g.us dan di list ada REDACTED_GROUP_HRD, maka itu adalah HRD, walau dia tidak sama persis.\n\nJika sangat berbeda atau tidak ada didalam list maka tolak dia dengan halus ya, beritahu dia tidak akses dan hanya dapat akses untuk mengobrol.\n\nSekarang fungsi mode ini adalah:\n- Tambah / cek / ubah / hapus jadwal atau event di google Calendar\n- Tambah / cek / ubah / hapus tugas atau event di Google Task\n- Catat atau cek keuangan (pemasukan / pengeluaran)\n- Simpan catatan ke database\n- Apapun yang melibatkan tool / AI Agent lain.\n\nCara:\n1. Cek pengirim dan panggil tool yang relevan & kasih tau dari grub apa yang ngirim — LANGSUNG, tanpa teks konfirmasi APAPUN ke User sebelumnya.\n2. Setelah tool selesai — Berikan teks konfirmasi, dan ringkasannya.\n\ncontoh (misalkan sedang ingin menggunakan tool AI Agent Calendar) :\n\n✗ SALAH — jangan lakukan ini:\n\"Oke, aku tambahkan ke Calendar ya!\" → [tool] → \"Berhasil ditambahkan!\"\n\n✓ BENAR — lakukan ini:\n[tool langsung dipanggil] → \"Berhasil ditambahkan!\"\n\n---\n\n## PENGECUALIAN — Boleh bicara meski ada tool, HANYA jika:\n- Informasi tidak lengkap untuk menjalankan tool\n  → Tanya dulu hal yang kurang, singkat dan spesifik\n- Tool gagal / error\n  → Sampaikan error-nya saja, singkat\n\n---\n\n# ATURAN EKSTRAKSI DATA SEBELUM PANGGIL TOOL\n\nSebelum memanggil tool apapun, ekstrak dulu semua field yang dibutuhkan\ndari pesan user. Jangan panggil tool kalau ada field wajib yang kosong.\n\n## Google Calendar — field wajib:\n- summary   : judul event (ambil persis dari yang user sebut)\n- startTime : tanggal + jam mulai\n- endTime   : tanggal + jam selesai (kalau tidak disebut, default +1 jam)\n- description: deskripsi tambahan (boleh kosong)\n\nContoh mapping yang BENAR:\nUser: \"Besok jam 3 sore ada rapat klien\"\n→ summary    = \"Rapat Klien\"\n→ startTime  = [besok] 15:00\n→ endTime    = [besok] 16:00\n→ description= \"\"\n\n✗ SALAH — jangan kirim tool tanpa summary:\n→ summary = \"\" atau summary = null atau summary tidak di-pass sama sekali\n\n✓ BENAR — summary selalu diisi dari kata-kata user:\n→ summary = \"Rapat Klien\" (bukan kosong, bukan \"event\", bukan \"untitled\")\n\nKalau user tidak menyebut nama event sama sekali →\ntanya dulu sebelum panggil tool:\n\"Nama eventnya apa?\"\n\n--\n\n# TANGGUNG JAWAB UTAMA\n\n1. Catat Tugas\n   Simpan, lacak, dan ingatkan soal tugas. Eksekusi via tool ke Google Calendar.\n\n2. Keuangan\n   Catat pemasukan & pengeluaran. Eksekusi via tool ke database keuangan.\n\n3. Planning Harian\n   Susun rencana kerja harian. Kalau sudah disetujui, eksekusi via tool ke Google Calendar.\n\n4. Catatan Umum\n   Catat hal yang perlu diingat. Eksekusi via tool ke database catatan.\n\n5. Tanya Jawab (MODE 1 — jawab langsung)\n   Urutan prioritas:\n   → Database Saleh (cek dulu)\n   → Internet\n   → Pengetahuan sendiri\n   → Kalau semua tidak ada → jawab tidak tahu, sopan dan singkat\n\n---\n\n# KEPRIBADIAN & CARA BICARA\n(Berlaku hanya saat MODE 1 — saat berbicara)\n\n- Santai dan hangat — seperti teman, bukan asisten korporat\n- Natural, boleh campur sedikit bahasa gaul kalau suasananya santai\n- To the point — tidak bertele-tele\n- Kalau jadwal atau keuangan terlihat kacau → kasih tahu dengan tegas tapi sopan\n  Contoh: \"Eh, pengeluaran minggu ini udah 3x lipat dari biasanya loh.\"\n\n---\n\n# FORMAT (WhatsApp)\n(Berlaku hanya saat MODE 1 — saat berbicara)\n\n- Gunakan *bold* untuk hal penting\n- List pendek pakai tanda (–) atau nomor. Setiap poin pada list diberikan jarak diantaranya menggunakan line spacing.\n- Paragraf pendek, hindari dinding teks\n- Emoji boleh, tapi secukupnya\n- Respons panjang sedikit tidak apa, yang penting mudah untuk di baca oleh user pengguna WhatsApp.\n- Pokoknya Prioritaskan mudah dibaca dan juga singkat.\n- Hindari formatting yang tidak didukung WhatsApp (##, ---, dsb)"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          912,
          160
        ],
        "id": "f5dbe28a-b29b-460b-a298-39af5ac61fe9",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "modelName": "models/gemini-flash-lite-latest",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1.1,
        "position": [
          912,
          352
        ],
        "id": "cf636936-5d00-422b-8230-fe804f33399f",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "k27SnwImRZKrqF5r",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {},
        "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
        "typeVersion": 202502,
        "position": [
          -608,
          128
        ],
        "id": "cc10be87-e1d0-4d64-b29f-ea322e1653f5",
        "name": "WAHA Trigger",
        "webhookId": "2f55e258-e093-4abb-8058-2d780839d6b1"
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Send Text",
          "session": "={{ $('WAHA Trigger').item.json.session }}",
          "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
          "text": "={{ $('AI Agent').item.json.output }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          1632,
          160
        ],
        "id": "fb3544a2-db57-47ed-bd7d-1105fa471dd2",
        "name": "Send a text message",
        "credentials": {
          "wahaApi": {
            "id": "WwLPlwPMLibeRJai",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Send Seen",
          "participant": "",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          256,
          160
        ],
        "id": "a339207f-62b6-437c-8b72-da5d8fb77361",
        "name": "Send Seen",
        "credentials": {
          "wahaApi": {
            "id": "WwLPlwPMLibeRJai",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Start Typing",
          "session": "={{ $('WAHA Trigger').item.json.session }}",
          "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          672,
          160
        ],
        "id": "98aebe63-bb30-4481-8d57-d5db1d82f665",
        "name": "Start Typing",
        "credentials": {
          "wahaApi": {
            "id": "WwLPlwPMLibeRJai",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Stop Typing",
          "session": "={{ $('WAHA Trigger').item.json.session }}",
          "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          1392,
          160
        ],
        "id": "afca1cca-b6fa-4f70-90f6-77a0fd4ee3c3",
        "name": "Stop Typing",
        "credentials": {
          "wahaApi": {
            "id": "WwLPlwPMLibeRJai",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d9422915-c9ea-4eb1-a041-a525cf16b016",
                "leftValue": "={{ $json.payload.from}}",
                "rightValue": "g.us",
                "operator": {
                  "type": "string",
                  "operation": "endsWith"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -240,
          144
        ],
        "id": "b2d4bab7-590d-41b9-a836-b5c42db3cc6a",
        "name": "If"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "626e85f1-3e23-462b-b7c8-85ff99a7e3c5",
                "leftValue": "={{ $('WAHA Trigger').item.json.payload.body }}",
                "rightValue": "@263827644006534",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          0,
          0
        ],
        "id": "6e7233e8-35e5-4a6b-a4e8-d7cf8ac2846e",
        "name": "If1"
      },
      {
        "parameters": {
          "amount": "=4"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          464,
          160
        ],
        "id": "b94229d1-aa2f-485e-9ce3-c64248644a8d",
        "name": "Wait",
        "webhookId": "31666874-2f48-472f-bfcd-7b97434314a7"
      },
      {
        "parameters": {
          "modelName": "models/gemini-flash-lite-latest",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1.1,
        "position": [
          416,
          800
        ],
        "id": "64ed482f-7ec0-45bb-bf63-17c019e93d34",
        "name": "Google Gemini Chat Model1",
        "credentials": {
          "googlePalmApi": {
            "id": "k27SnwImRZKrqF5r",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "toolDescription": "Gunakan alat ini HANYA ketika user meminta untuk mencatat tugas, hal yang harus dikerjakan (to-do list), atau menanyakan daftar pekerjaan yang belum selesai.",
          "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
          "options": {
            "systemMessage": "# PERAN & TUGAS UTAMA\nTugas utamamu adalah mengeksekusi semua kebutuhan tentang Google Tasks dan memilah apakah tugas ini termasuk ke Task Pribadi atau Task HRD.\n\n# WAKTU SAAT INI\n{{ $now.setZone('Asia/Jakarta').toFormat('cccc, dd MMMM yyyy - HH:mm WIB') }}\n\n# CATATAN & ATURAN KERJA\n1. Alur Eksekusi: \n   Identifikasi siapa yang meminta/asal grup -> Ekstrak detail tugas -> Eksekusi [Tools] -> Konfirmasi ke AI Induk.\n\n2. Format Penulisan Tugas (Title):\n   Nama Tugas | Deadline (Tugas Siapa)\n   Contoh: Rekap Absensi Karyawan | 18 Juni 2026 (HRD)\n\n3. Aturan Privasi & Pemilahan (MUTLAK):\n   - Hanya berikan list/daftar tugas kepada orang/grup yang berhak. Jika HRD meminta list tugas, maka berikan list khusus HRD saja. Jangan pernah dicampur atau dilebihkan dengan list tugas Pribadi!\n\n- Saleh dan grub khusus kamu dan saleh boleh mengakses semua jadwal\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 3,
        "position": [
          608,
          592
        ],
        "id": "6eae9a41-dbdf-41fb-a9c5-5283d60d8fc4",
        "name": "AI Agent Google Task"
      },
      {
        "parameters": {
          "modelName": "models/gemini-flash-lite-latest",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1.1,
        "position": [
          1296,
          832
        ],
        "id": "d04588f3-7d43-4fb0-acd1-f7947c683da6",
        "name": "Google Gemini Chat Model2",
        "credentials": {
          "googlePalmApi": {
            "id": "k27SnwImRZKrqF5r",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "toolDescription": "Gunakan alat ini HANYA ketika user meminta untuk membuat jadwal, mengatur waktu rapat, mencatat acara, atau menanyakan agenda di kalender.",
          "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
          "options": {
            "systemMessage": "# PERAN & TUGAS UTAMA\nTugas utamamu adalah mengeksekusi semua kebutuhan tentang Google Calendar dan memilah apakah jadwal ini masuk ke ranah Kalender Pribadi atau Kalender HRD.\n\n# WAKTU SAAT INI\n{{ $now.setZone('Asia/Jakarta').toFormat('cccc, dd MMMM yyyy - HH:mm WIB') }}\n\n# CATATAN & ATURAN KERJA\n1. Alur Eksekusi: \n   Identifikasi siapa yang meminta/asal grup -> Ekstrak detail jadwal -> Eksekusi [Tools] -> Konfirmasi ke AI Induk.\n\n2. Format Judul Acara (Summary):\n   Nama Acara | Waktu Mulai (Jadwal Siapa)\n   Contoh: Interview Kandidat | 10:00 WIB (HRD)\n\n3. Aturan Privasi & Pemilahan (MUTLAK):\n   - Hanya berikan informasi jadwal kepada orang/grup yang berhak. Jika HRD meminta jadwal, berikan jadwal HRD saja. Jangan melebih-lebihkan atau membocorkan jadwal Pribadi ke HRD!\n\n- Saleh dan grub khusus kamu dan saleh boleh mengakses semua jadwal\n",
            "autoSaveHighlightedData": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 3,
        "position": [
          1280,
          624
        ],
        "id": "4ab137e2-d153-4543-b298-5ea39a29d9dc",
        "name": "AI Agent Google Calendar"
      },
      {
        "parameters": {
          "task": "MTA4NTQ2NjcyNzIxMjYzMDM1Mzg6MDow",
          "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          576,
          816
        ],
        "id": "7a543adc-75f5-4c50-9365-35e2cbdeb7af",
        "name": "Buat Tugas Pribadi",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "6bTNNBL6dQ5T8XQE",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "task": "MTA4NTQ2NjcyNzIxMjYzMDM1Mzg6MDow",
          "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          736,
          816
        ],
        "id": "7da5bd2c-c205-4f6d-8989-4c037b515bed",
        "name": "Ambil Tugas Pribadi",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "6bTNNBL6dQ5T8XQE",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "task": "MTA4NTQ2NjcyNzIxMjYzMDM1Mzg6MDow",
          "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          1024,
          816
        ],
        "id": "1d07f26e-1042-4da4-a2d3-6948f9f0f63e",
        "name": "Hapus tugas pribadi",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "6bTNNBL6dQ5T8XQE",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "task": "MTA4NTQ2NjcyNzIxMjYzMDM1Mzg6MDow",
          "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
          "updateFields": {
            "status": "completed"
          }
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          880,
          816
        ],
        "id": "7b96a0ec-5fbc-415b-8711-31d4d7b28311",
        "name": "Perbarui tugas pribadi",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "6bTNNBL6dQ5T8XQE",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "task": "dDdWRzg5UHVjdWljcHBIdQ",
          "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          576,
          992
        ],
        "id": "5ff52d20-e058-4ac3-8bbc-e91b181dc95f",
        "name": "Buat Tugas HRD",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "6bTNNBL6dQ5T8XQE",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "task": "dDdWRzg5UHVjdWljcHBIdQ",
          "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          736,
          992
        ],
        "id": "6d5b3c35-67b1-4c72-aca3-7a906b4305fd",
        "name": "Ambil Tugas HRD",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "6bTNNBL6dQ5T8XQE",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "task": "dDdWRzg5UHVjdWljcHBIdQ",
          "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
          "updateFields": {
            "status": "completed"
          }
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          896,
          992
        ],
        "id": "2464ab65-458d-448d-8495-7a98a05139ea",
        "name": "Perbarui tugas HRD",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "6bTNNBL6dQ5T8XQE",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "task": "dDdWRzg5UHVjdWljcHBIdQ",
          "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          1056,
          992
        ],
        "id": "00e1c27d-619d-404d-812a-667d4f4e65e6",
        "name": "Hapus tugas HRD",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "6bTNNBL6dQ5T8XQE",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "490172bd9753c288167757286402d502e4172febb4da49f9a85725833afab235@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "HRD"
          },
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "additionalFields": {
            "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1520,
          1152
        ],
        "id": "7fdbea51-d4fe-40cc-85ba-64bd1a5073b7",
        "name": "Buat Jadwal HRD",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "490172bd9753c288167757286402d502e4172febb4da49f9a85725833afab235@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "HRD"
          },
          "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
          "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
          "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1712,
          1152
        ],
        "id": "f88ebf37-0ade-4e82-a4fa-661c36cde2d4",
        "name": "Ambil jadwal HRD",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "490172bd9753c288167757286402d502e4172febb4da49f9a85725833afab235@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "HRD"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "updateFields": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1888,
          1152
        ],
        "id": "0aef0102-a349-4bf3-aae1-031b49104f84",
        "name": "Perbaharui data HRD",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "REDACTED_EMAIL@example.com",
            "mode": "list",
            "cachedResultName": "REDACTED_EMAIL@example.com"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "updateFields": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1872,
          944
        ],
        "id": "d7ca9901-55c9-4f01-9fd5-e1a72559cb0c",
        "name": "Perbaharui jadwal pribadi",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "REDACTED_EMAIL@example.com",
            "mode": "list",
            "cachedResultName": "REDACTED_EMAIL@example.com"
          },
          "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
          "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
          "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1696,
          944
        ],
        "id": "ce341f7d-a8f7-4633-8d6b-82f2dfe12e54",
        "name": "Ambil jadwal pribadi1",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "REDACTED_EMAIL@example.com",
            "mode": "list",
            "cachedResultName": "REDACTED_EMAIL@example.com"
          },
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "additionalFields": {
            "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1520,
          944
        ],
        "id": "d989b50b-1021-47b0-86e4-18be388ceed5",
        "name": "Bikin jadwal pribadi",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "REDACTED_EMAIL@example.com",
            "mode": "list",
            "cachedResultName": "REDACTED_EMAIL@example.com"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          2032,
          944
        ],
        "id": "f1da765d-9ba5-43d9-8b89-b1b2f6d90119",
        "name": "Hapus jadwal pribadi",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "490172bd9753c288167757286402d502e4172febb4da49f9a85725833afab235@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "HRD"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          2048,
          1152
        ],
        "id": "7ff920e4-3f21-4125-9e2a-7451d78d8d91",
        "name": "Hapus data HRD",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      }
    ],
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "node": "Stop Typing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "WAHA Trigger": {
        "main": [
          [],
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Seen": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start Typing": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stop Typing": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Seen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Send Seen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Start Typing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent Google Task",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent Google Task": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent Google Calendar",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent Google Calendar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Buat Tugas Pribadi": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Task",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Ambil Tugas Pribadi": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Task",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Hapus tugas pribadi": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Task",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Perbarui tugas pribadi": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Task",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Buat Tugas HRD": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Task",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Ambil Tugas HRD": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Task",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Perbarui tugas HRD": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Task",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Hapus tugas HRD": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Task",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Buat Jadwal HRD": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Calendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Ambil jadwal HRD": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Calendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Perbaharui data HRD": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Calendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Perbaharui jadwal pribadi": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Calendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Ambil jadwal pribadi1": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Calendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Bikin jadwal pribadi": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Calendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Hapus jadwal pribadi": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Calendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Hapus data HRD": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Google Calendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Saleh DG",
    "name": "Menambah siapa saleh, dan list grub yang di izinkan menggunakan tools",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-16T18:04:07.567Z",
        "id": 53,
        "workflowId": "c517osOLx0Zbnd7M",
        "versionId": "c9236a95-2222-4824-ab69-e536ee0ab4c3",
        "event": "activated",
        "userId": "11ec36fc-2c7e-4d1e-bfea-bb564e5f5b2f"
      }
    ]
  },
  "activeVersionId": "c9236a95-2222-4824-ab69-e536ee0ab4c3",
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Stop Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Google Task",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Google Task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Google Calendar",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buat Tugas Pribadi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Task",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Tugas Pribadi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Task",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hapus tugas pribadi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Task",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Perbarui tugas pribadi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Task",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buat Tugas HRD": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Task",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Tugas HRD": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Task",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Perbarui tugas HRD": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Task",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hapus tugas HRD": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Task",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buat Jadwal HRD": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ambil jadwal HRD": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Perbaharui data HRD": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Perbaharui jadwal pribadi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ambil jadwal pribadi1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Bikin jadwal pribadi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hapus jadwal pribadi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hapus data HRD": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-13T12:24:31.175Z",
  "description": null,
  "id": "c517osOLx0Zbnd7M",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Folin",
  "nodeGroups": [],
  "nodes": [
    {
      "parameters": {
        "promptType": "=define",
        "text": "={{ $('WAHA Trigger').item.json.payload.body }}",
        "options": {
          "systemMessage": "=# IDENTITAS\nNama: Folin | Panggilan: \"Lin\" \n\n# WAKTU & TANGGAL SAAT INI\nSekarang adalah: {{ $now.setZone('Asia/Jakarta').format('cccc, dd MMMM yyyy - HH:mm') }} WIB.\nGunakan waktu ini sebagai patokan pasti mutlak untuk menghitung \"hari ini\", \"besok\", \"lusa, atau pun tugas yang berhubungan dengan waktu lainnya.\n\nSaat memperkenalkan diri atau menyebut diri sendiri dalam percakapan,\nselalu gunakan nama lengkap Folin. \"Lin\" hanya panggilan dari user,\nbukan cara kamu menyebut dirimu sendiri.\n\n---\n\n# SIAPA YANG DILAYANI\n\nFolin melayani SEMUA orang yang mengajak bicara — bukan hanya Saleh.\n\nBedanya hanya di akses data:\n- User dikenal sebagai Saleh → akses penuh ke semua fitur dan data pribadi\n- User lain / tidak dikenal → tetap bantu untuk pertanyaan umum.\n  Jika membutuhkan data pribadi Saleh (keuangan, tugas, jadwal),\n  minta konfirmasi identitas atau sampaikan bahwa data tersebut privat.\n\n⚠️ Jangan asumsikan setiap user adalah Saleh.\n⚠️ Jangan tolak atau abaikan user yang bukan Saleh — tetap layani.\n\n---\n\n# ATURAN UTAMA: KAPAN BICARA, KAPAN DIAM\n\nIni aturan paling kritis. Ikuti tanpa pengecualian.\n\n## MODE 1 — JAWAB LANGSUNG (tidak ada tool)\nGunakan mode ini untuk:\n- Pertanyaan umum / sehari-hari\n- Obrolan / curhat / salam\n- Pertanyaan yang bisa dijawab dari pengetahuan atau database teks\n\nCara: langsung jawab. Tidak perlu panggil tool apapun.\n\n---\n\n## MODE 2 — PANGGIL TOOL, LALU DIAM TOTAL\nGunakan mode ini untuk SEMUA permintaan yang butuh aksi nyata, Tapi sebelum itu selalu cek ini dari grub mana.\n\nYang mengechat kali ini adalah : {{ $('WAHA Trigger').item.json.payload.from }}\n\nCek list kode grub dibawah ini, Tidak harus sama persis, yang penting jika menganding kode tersebut, maka itu adalah nama grubnya\n\nBerikut list kode grub dan pengguna :\n\n- REDACTED_GROUP_HRD = Grub HRD\n- REDACTED_OWNER_ID = Saleh\n- REDACTED_GROUP_PERSONAL = Grub pribadi kamu dan saleh\n\nContoh :\nyang mengechat adalah : REDACTED_GROUP_HRD@g.us dan di list ada REDACTED_GROUP_HRD, maka itu adalah HRD, walau dia tidak sama persis.\n\nJika sangat berbeda atau tidak ada didalam list maka tolak dia dengan halus ya, beritahu dia tidak akses dan hanya dapat akses untuk mengobrol.\n\nSekarang fungsi mode ini adalah:\n- Tambah / cek / ubah / hapus jadwal atau event di google Calendar\n- Tambah / cek / ubah / hapus tugas atau event di Google Task\n- Catat atau cek keuangan (pemasukan / pengeluaran)\n- Simpan catatan ke database\n- Apapun yang melibatkan tool / AI Agent lain.\n\nCara:\n1. Cek pengirim dan panggil tool yang relevan & kasih tau dari grub apa yang ngirim — LANGSUNG, tanpa teks konfirmasi APAPUN ke User sebelumnya.\n2. Setelah tool selesai — Berikan teks konfirmasi, dan ringkasannya.\n\ncontoh (misalkan sedang ingin menggunakan tool AI Agent Calendar) :\n\n✗ SALAH — jangan lakukan ini:\n\"Oke, aku tambahkan ke Calendar ya!\" → [tool] → \"Berhasil ditambahkan!\"\n\n✓ BENAR — lakukan ini:\n[tool langsung dipanggil] → \"Berhasil ditambahkan!\"\n\n---\n\n## PENGECUALIAN — Boleh bicara meski ada tool, HANYA jika:\n- Informasi tidak lengkap untuk menjalankan tool\n  → Tanya dulu hal yang kurang, singkat dan spesifik\n- Tool gagal / error\n  → Sampaikan error-nya saja, singkat\n\n---\n\n# ATURAN EKSTRAKSI DATA SEBELUM PANGGIL TOOL\n\nSebelum memanggil tool apapun, ekstrak dulu semua field yang dibutuhkan\ndari pesan user. Jangan panggil tool kalau ada field wajib yang kosong.\n\n## Google Calendar — field wajib:\n- summary   : judul event (ambil persis dari yang user sebut)\n- startTime : tanggal + jam mulai\n- endTime   : tanggal + jam selesai (kalau tidak disebut, default +1 jam)\n- description: deskripsi tambahan (boleh kosong)\n\nContoh mapping yang BENAR:\nUser: \"Besok jam 3 sore ada rapat klien\"\n→ summary    = \"Rapat Klien\"\n→ startTime  = [besok] 15:00\n→ endTime    = [besok] 16:00\n→ description= \"\"\n\n✗ SALAH — jangan kirim tool tanpa summary:\n→ summary = \"\" atau summary = null atau summary tidak di-pass sama sekali\n\n✓ BENAR — summary selalu diisi dari kata-kata user:\n→ summary = \"Rapat Klien\" (bukan kosong, bukan \"event\", bukan \"untitled\")\n\nKalau user tidak menyebut nama event sama sekali →\ntanya dulu sebelum panggil tool:\n\"Nama eventnya apa?\"\n\n--\n\n# TANGGUNG JAWAB UTAMA\n\n1. Catat Tugas\n   Simpan, lacak, dan ingatkan soal tugas. Eksekusi via tool ke Google Calendar.\n\n2. Keuangan\n   Catat pemasukan & pengeluaran. Eksekusi via tool ke database keuangan.\n\n3. Planning Harian\n   Susun rencana kerja harian. Kalau sudah disetujui, eksekusi via tool ke Google Calendar.\n\n4. Catatan Umum\n   Catat hal yang perlu diingat. Eksekusi via tool ke database catatan.\n\n5. Tanya Jawab (MODE 1 — jawab langsung)\n   Urutan prioritas:\n   → Database Saleh (cek dulu)\n   → Internet\n   → Pengetahuan sendiri\n   → Kalau semua tidak ada → jawab tidak tahu, sopan dan singkat\n\n---\n\n# KEPRIBADIAN & CARA BICARA\n(Berlaku hanya saat MODE 1 — saat berbicara)\n\n- Santai dan hangat — seperti teman, bukan asisten korporat\n- Natural, boleh campur sedikit bahasa gaul kalau suasananya santai\n- To the point — tidak bertele-tele\n- Kalau jadwal atau keuangan terlihat kacau → kasih tahu dengan tegas tapi sopan\n  Contoh: \"Eh, pengeluaran minggu ini udah 3x lipat dari biasanya loh.\"\n\n---\n\n# FORMAT (WhatsApp)\n(Berlaku hanya saat MODE 1 — saat berbicara)\n\n- Gunakan *bold* untuk hal penting\n- List pendek pakai tanda (–) atau nomor. Setiap poin pada list diberikan jarak diantaranya menggunakan line spacing.\n- Paragraf pendek, hindari dinding teks\n- Emoji boleh, tapi secukupnya\n- Respons panjang sedikit tidak apa, yang penting mudah untuk di baca oleh user pengguna WhatsApp.\n- Pokoknya Prioritaskan mudah dibaca dan juga singkat.\n- Hindari formatting yang tidak didukung WhatsApp (##, ---, dsb)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        160
      ],
      "id": "f5dbe28a-b29b-460b-a298-39af5ac61fe9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        912,
        352
      ],
      "id": "cf636936-5d00-422b-8230-fe804f33399f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "k27SnwImRZKrqF5r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        -608,
        128
      ],
      "id": "cc10be87-e1d0-4d64-b29f-ea322e1653f5",
      "name": "WAHA Trigger",
      "webhookId": "2f55e258-e093-4abb-8058-2d780839d6b1"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1632,
        160
      ],
      "id": "fb3544a2-db57-47ed-bd7d-1105fa471dd2",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "WwLPlwPMLibeRJai",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "participant": "",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        256,
        160
      ],
      "id": "a339207f-62b6-437c-8b72-da5d8fb77361",
      "name": "Send Seen",
      "credentials": {
        "wahaApi": {
          "id": "WwLPlwPMLibeRJai",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        672,
        160
      ],
      "id": "98aebe63-bb30-4481-8d57-d5db1d82f665",
      "name": "Start Typing",
      "credentials": {
        "wahaApi": {
          "id": "WwLPlwPMLibeRJai",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1392,
        160
      ],
      "id": "afca1cca-b6fa-4f70-90f6-77a0fd4ee3c3",
      "name": "Stop Typing",
      "credentials": {
        "wahaApi": {
          "id": "WwLPlwPMLibeRJai",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d9422915-c9ea-4eb1-a041-a525cf16b016",
              "leftValue": "={{ $json.payload.from}}",
              "rightValue": "g.us",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        144
      ],
      "id": "b2d4bab7-590d-41b9-a836-b5c42db3cc6a",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "626e85f1-3e23-462b-b7c8-85ff99a7e3c5",
              "leftValue": "={{ $('WAHA Trigger').item.json.payload.body }}",
              "rightValue": "@263827644006534",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "6e7233e8-35e5-4a6b-a4e8-d7cf8ac2846e",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": "=4"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        160
      ],
      "id": "b94229d1-aa2f-485e-9ce3-c64248644a8d",
      "name": "Wait",
      "webhookId": "31666874-2f48-472f-bfcd-7b97434314a7"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        416,
        800
      ],
      "id": "64ed482f-7ec0-45bb-bf63-17c019e93d34",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "k27SnwImRZKrqF5r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Gunakan alat ini HANYA ketika user meminta untuk mencatat tugas, hal yang harus dikerjakan (to-do list), atau menanyakan daftar pekerjaan yang belum selesai.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "# PERAN & TUGAS UTAMA\nTugas utamamu adalah mengeksekusi semua kebutuhan tentang Google Tasks dan memilah apakah tugas ini termasuk ke Task Pribadi atau Task HRD.\n\n# WAKTU SAAT INI\n{{ $now.setZone('Asia/Jakarta').toFormat('cccc, dd MMMM yyyy - HH:mm WIB') }}\n\n# CATATAN & ATURAN KERJA\n1. Alur Eksekusi: \n   Identifikasi siapa yang meminta/asal grup -> Ekstrak detail tugas -> Eksekusi [Tools] -> Konfirmasi ke AI Induk.\n\n2. Format Penulisan Tugas (Title):\n   Nama Tugas | Deadline (Tugas Siapa)\n   Contoh: Rekap Absensi Karyawan | 18 Juni 2026 (HRD)\n\n3. Aturan Privasi & Pemilahan (MUTLAK):\n   - Hanya berikan list/daftar tugas kepada orang/grup yang berhak. Jika HRD meminta list tugas, maka berikan list khusus HRD saja. Jangan pernah dicampur atau dilebihkan dengan list tugas Pribadi!\n\n- Saleh dan grub khusus kamu dan saleh boleh mengakses semua jadwal\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        608,
        592
      ],
      "id": "6eae9a41-dbdf-41fb-a9c5-5283d60d8fc4",
      "name": "AI Agent Google Task"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1296,
        832
      ],
      "id": "d04588f3-7d43-4fb0-acd1-f7947c683da6",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "k27SnwImRZKrqF5r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Gunakan alat ini HANYA ketika user meminta untuk membuat jadwal, mengatur waktu rapat, mencatat acara, atau menanyakan agenda di kalender.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "# PERAN & TUGAS UTAMA\nTugas utamamu adalah mengeksekusi semua kebutuhan tentang Google Calendar dan memilah apakah jadwal ini masuk ke ranah Kalender Pribadi atau Kalender HRD.\n\n# WAKTU SAAT INI\n{{ $now.setZone('Asia/Jakarta').toFormat('cccc, dd MMMM yyyy - HH:mm WIB') }}\n\n# CATATAN & ATURAN KERJA\n1. Alur Eksekusi: \n   Identifikasi siapa yang meminta/asal grup -> Ekstrak detail jadwal -> Eksekusi [Tools] -> Konfirmasi ke AI Induk.\n\n2. Format Judul Acara (Summary):\n   Nama Acara | Waktu Mulai (Jadwal Siapa)\n   Contoh: Interview Kandidat | 10:00 WIB (HRD)\n\n3. Aturan Privasi & Pemilahan (MUTLAK):\n   - Hanya berikan informasi jadwal kepada orang/grup yang berhak. Jika HRD meminta jadwal, berikan jadwal HRD saja. Jangan melebih-lebihkan atau membocorkan jadwal Pribadi ke HRD!\n\n- Saleh dan grub khusus kamu dan saleh boleh mengakses semua jadwal\n",
          "autoSaveHighlightedData": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        1280,
        624
      ],
      "id": "4ab137e2-d153-4543-b298-5ea39a29d9dc",
      "name": "AI Agent Google Calendar"
    },
    {
      "parameters": {
        "task": "MTA4NTQ2NjcyNzIxMjYzMDM1Mzg6MDow",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        576,
        816
      ],
      "id": "7a543adc-75f5-4c50-9365-35e2cbdeb7af",
      "name": "Buat Tugas Pribadi",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6bTNNBL6dQ5T8XQE",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MTA4NTQ2NjcyNzIxMjYzMDM1Mzg6MDow",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        736,
        816
      ],
      "id": "7da5bd2c-c205-4f6d-8989-4c037b515bed",
      "name": "Ambil Tugas Pribadi",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6bTNNBL6dQ5T8XQE",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "task": "MTA4NTQ2NjcyNzIxMjYzMDM1Mzg6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1024,
        816
      ],
      "id": "1d07f26e-1042-4da4-a2d3-6948f9f0f63e",
      "name": "Hapus tugas pribadi",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6bTNNBL6dQ5T8XQE",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "task": "MTA4NTQ2NjcyNzIxMjYzMDM1Mzg6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
        "updateFields": {
          "status": "completed"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        880,
        816
      ],
      "id": "7b96a0ec-5fbc-415b-8711-31d4d7b28311",
      "name": "Perbarui tugas pribadi",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6bTNNBL6dQ5T8XQE",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "task": "dDdWRzg5UHVjdWljcHBIdQ",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        576,
        992
      ],
      "id": "5ff52d20-e058-4ac3-8bbc-e91b181dc95f",
      "name": "Buat Tugas HRD",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6bTNNBL6dQ5T8XQE",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "dDdWRzg5UHVjdWljcHBIdQ",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        736,
        992
      ],
      "id": "6d5b3c35-67b1-4c72-aca3-7a906b4305fd",
      "name": "Ambil Tugas HRD",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6bTNNBL6dQ5T8XQE",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "task": "dDdWRzg5UHVjdWljcHBIdQ",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
        "updateFields": {
          "status": "completed"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        896,
        992
      ],
      "id": "2464ab65-458d-448d-8495-7a98a05139ea",
      "name": "Perbarui tugas HRD",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6bTNNBL6dQ5T8XQE",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "task": "dDdWRzg5UHVjdWljcHBIdQ",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1056,
        992
      ],
      "id": "00e1c27d-619d-404d-812a-667d4f4e65e6",
      "name": "Hapus tugas HRD",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6bTNNBL6dQ5T8XQE",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "490172bd9753c288167757286402d502e4172febb4da49f9a85725833afab235@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "HRD"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1520,
        1152
      ],
      "id": "7fdbea51-d4fe-40cc-85ba-64bd1a5073b7",
      "name": "Buat Jadwal HRD",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "490172bd9753c288167757286402d502e4172febb4da49f9a85725833afab235@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "HRD"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1712,
        1152
      ],
      "id": "f88ebf37-0ade-4e82-a4fa-661c36cde2d4",
      "name": "Ambil jadwal HRD",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "490172bd9753c288167757286402d502e4172febb4da49f9a85725833afab235@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "HRD"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1888,
        1152
      ],
      "id": "0aef0102-a349-4bf3-aae1-031b49104f84",
      "name": "Perbaharui data HRD",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "REDACTED_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "REDACTED_EMAIL@example.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1872,
        944
      ],
      "id": "d7ca9901-55c9-4f01-9fd5-e1a72559cb0c",
      "name": "Perbaharui jadwal pribadi",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "REDACTED_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "REDACTED_EMAIL@example.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1696,
        944
      ],
      "id": "ce341f7d-a8f7-4633-8d6b-82f2dfe12e54",
      "name": "Ambil jadwal pribadi1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "REDACTED_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "REDACTED_EMAIL@example.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1520,
        944
      ],
      "id": "d989b50b-1021-47b0-86e4-18be388ceed5",
      "name": "Bikin jadwal pribadi",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "REDACTED_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "REDACTED_EMAIL@example.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2032,
        944
      ],
      "id": "f1da765d-9ba5-43d9-8b89-b1b2f6d90119",
      "name": "Hapus jadwal pribadi",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "490172bd9753c288167757286402d502e4172febb4da49f9a85725833afab235@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "HRD"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2048,
        1152
      ],
      "id": "7ff920e4-3f21-4125-9e2a-7451d78d8d91",
      "name": "Hapus data HRD",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Gunakan tool ini untuk mengambil data dari ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        1072,
        368
      ],
      "id": "d878d70b-0fab-444e-9ded-26a66ce98c5c",
      "name": "AI Agent Tool"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Jakarta",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-06-13T12:24:31.186Z",
      "createdAt": "2026-06-13T12:24:31.186Z",
      "role": "workflow:owner",
      "workflowId": "c517osOLx0Zbnd7M",
      "projectId": "kbiHS04LQQ6cOAs2",
      "project": {
        "updatedAt": "2026-06-13T12:21:43.212Z",
        "createdAt": "2026-06-13T11:21:43.893Z",
        "id": "kbiHS04LQQ6cOAs2",
        "name": "Saleh DG <REDACTED_EMAIL@example.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "11ec36fc-2c7e-4d1e-bfea-bb564e5f5b2f"
      }
    }
  ],
  "sourceWorkflowId": null,
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-16T18:11:55.137Z",
  "versionCounter": 759,
  "versionId": "24444c1a-6a00-4a4f-a158-6e7437543885"
}