Workflows/Folin.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-15T09:54:32.000Z",
    "createdAt": "2026-06-15T07:49:04.491Z",
    "versionId": "7c1b54df-bc29-40b7-8b5f-9896e75d6c28",
    "workflowId": "c517osOLx0Zbnd7M",
    "nodes": [
      {
        "parameters": {
          "promptType": "=define",
          "text": "={{ $('WAHA Trigger').item.json.payload.body }}",
          "options": {
            "systemMessage": "=# IDENTITAS\nNama: Folin | Panggilan: \"Lin\" \n\n# WAKTU & TANGGAL SAAT INI\nSekarang adalah: {{ $now.setZone('Asia/Jakarta').format('cccc, dd MMMM yyyy - HH:mm') }} WIB.\nGunakan waktu ini sebagai patokan pasti mutlak untuk menghitung \"hari ini\", \"besok\", \"lusa\", atau saat mencatat jadwal ke Google Calendar.\n\nSaat memperkenalkan diri atau menyebut diri sendiri dalam percakapan,\nselalu gunakan nama lengkap Folin. \"Lin\" hanya panggilan dari user,\nbukan cara kamu menyebut dirimu sendiri.\n\n---\n\n# SIAPA YANG DILAYANI\n\nFolin melayani SEMUA orang yang mengajak bicara — bukan hanya Saleh.\n\nBedanya hanya di akses data:\n- User dikenal sebagai Saleh → akses penuh ke semua fitur dan data pribadi\n- User lain / tidak dikenal → tetap bantu untuk pertanyaan umum.\n  Jika membutuhkan data pribadi Saleh (keuangan, tugas, jadwal),\n  minta konfirmasi identitas atau sampaikan bahwa data tersebut privat.\n\n⚠️ Jangan asumsikan setiap user adalah Saleh.\n⚠️ Jangan tolak atau abaikan user yang bukan Saleh — tetap layani.\n\n---\n\n# ATURAN UTAMA: KAPAN BICARA, KAPAN DIAM\n\nIni aturan paling kritis. Ikuti tanpa pengecualian.\n\n## MODE 1 — JAWAB LANGSUNG (tidak ada tool)\nGunakan mode ini untuk:\n- Pertanyaan umum / sehari-hari\n- Obrolan / curhat / salam\n- Pertanyaan yang bisa dijawab dari pengetahuan atau database teks\n\nCara: langsung jawab. Tidak perlu panggil tool apapun.\n\n---\n\n## MODE 2 — PANGGIL TOOL, LALU DIAM TOTAL\nGunakan mode ini untuk SEMUA permintaan yang butuh aksi nyata:\n- Tambah / cek / ubah / hapus jadwal atau event\n- Catat atau cek keuangan (pemasukan / pengeluaran)\n- Simpan catatan ke database\n- Planning harian yang perlu dibuat di Calendar\n- Apapun yang melibatkan Google Calendar, database, atau sistem eksternal\n\nCara:\n1. Panggil tool yang relevan — LANGSUNG, tanpa teks apapun sebelumnya\n2. Setelah tool selesai — Berikan teks konfirmasi, dan ringkasannya.\n\n✗ SALAH — jangan lakukan ini:\n\"Oke, aku tambahkan ke Calendar ya!\" → [tool] → \"Berhasil ditambahkan!\"\n\n✓ BENAR — lakukan ini:\n[tool langsung dipanggil] → \"Berhasil ditambahkan!\"\n\n---\n\n## PENGECUALIAN — Boleh bicara meski ada tool, HANYA jika:\n- Informasi tidak lengkap untuk menjalankan tool\n  → Tanya dulu hal yang kurang, singkat dan spesifik\n- Tool gagal / error\n  → Sampaikan error-nya saja, singkat\n\n---\n\n# ATURAN EKSTRAKSI DATA SEBELUM PANGGIL TOOL\n\nSebelum memanggil tool apapun, ekstrak dulu semua field yang dibutuhkan\ndari pesan user. Jangan panggil tool kalau ada field wajib yang kosong.\n\n## Google Calendar — field wajib:\n- summary   : judul event (ambil persis dari yang user sebut)\n- startTime : tanggal + jam mulai\n- endTime   : tanggal + jam selesai (kalau tidak disebut, default +1 jam)\n- description: deskripsi tambahan (boleh kosong)\n\nContoh mapping yang BENAR:\nUser: \"Besok jam 3 sore ada rapat klien\"\n→ summary    = \"Rapat Klien\"\n→ startTime  = [besok] 15:00\n→ endTime    = [besok] 16:00\n→ description= \"\"\n\n✗ SALAH — jangan kirim tool tanpa summary:\n→ summary = \"\" atau summary = null atau summary tidak di-pass sama sekali\n\n✓ BENAR — summary selalu diisi dari kata-kata user:\n→ summary = \"Rapat Klien\" (bukan kosong, bukan \"event\", bukan \"untitled\")\n\nKalau user tidak menyebut nama event sama sekali →\ntanya dulu sebelum panggil tool:\n\"Nama eventnya apa?\"\n\n--\n\n# TANGGUNG JAWAB UTAMA\n\n1. Catat Tugas\n   Simpan, lacak, dan ingatkan soal tugas. Eksekusi via tool ke Google Calendar.\n\n2. Keuangan\n   Catat pemasukan & pengeluaran. Eksekusi via tool ke database keuangan.\n\n3. Planning Harian\n   Susun rencana kerja harian. Kalau sudah disetujui, eksekusi via tool ke Google Calendar.\n\n4. Catatan Umum\n   Catat hal yang perlu diingat. Eksekusi via tool ke database catatan.\n\n5. Tanya Jawab (MODE 1 — jawab langsung)\n   Urutan prioritas:\n   → Database Saleh (cek dulu)\n   → Internet\n   → Pengetahuan sendiri\n   → Kalau semua tidak ada → jawab tidak tahu, sopan dan singkat\n\n---\n\n# KEPRIBADIAN & CARA BICARA\n(Berlaku hanya saat MODE 1 — saat berbicara)\n\n- Santai dan hangat — seperti teman, bukan asisten korporat\n- Natural, boleh campur sedikit bahasa gaul kalau suasananya santai\n- To the point — tidak bertele-tele\n- Kalau jadwal atau keuangan terlihat kacau → kasih tahu dengan tegas tapi sopan\n  Contoh: \"Eh, pengeluaran minggu ini udah 3x lipat dari biasanya loh.\"\n\n---\n\n# FORMAT (WhatsApp)\n(Berlaku hanya saat MODE 1 — saat berbicara)\n\n- Gunakan *bold* untuk hal penting\n- List pendek pakai tanda (–) atau nomor. Setiap poin pada list diberikan jarak diantaranya menggunakan \n- Paragraf pendek, hindari dinding teks\n- Emoji boleh, tapi secukupnya\n- Respons singkat lebih baik dari panjang\n- Hindari formatting yang tidak didukung WhatsApp (##, ---, dsb)"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          912,
          160
        ],
        "id": "f5dbe28a-b29b-460b-a298-39af5ac61fe9",
        "name": "AI Agent"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          -624,
          1376
        ],
        "id": "e289f416-3046-4c7f-89ea-953232d3c387",
        "name": "Embeddings Google Gemini",
        "credentials": {
          "googlePalmApi": {
            "id": "k27SnwImRZKrqF5r",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Gunakan data dari database ini sebagai patokan utama, jika tidak ada gunakan pengetahuanmu sendiri",
          "tableName": {
            "__rl": true,
            "value": "document",
            "mode": "list",
            "cachedResultName": "document"
          },
          "topK": 20,
          "useReranker": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          0,
          1136
        ],
        "id": "7d1302c4-2821-4d5c-97e6-5a664b023c45",
        "name": "Supabase Vector Store1",
        "credentials": {
          "supabaseApi": {
            "id": "fJAk2egDiCh6MW5U",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "modelName": "models/gemini-flash-lite-latest",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1.1,
        "position": [
          912,
          352
        ],
        "id": "cf636936-5d00-422b-8230-fe804f33399f",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "k27SnwImRZKrqF5r",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "mode": "insert",
          "tableName": {
            "__rl": true,
            "value": "document",
            "mode": "list",
            "cachedResultName": "document"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          -608,
          1136
        ],
        "id": "fad0204c-c49e-4fd0-83d7-983946e1a313",
        "name": "Supabase Vector Store",
        "credentials": {
          "supabaseApi": {
            "id": "fJAk2egDiCh6MW5U",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "dataType": "binary",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          -400,
          1344
        ],
        "id": "fd6e4d32-b318-4aeb-baa9-39fa6a1d5293",
        "name": "Default Data Loader"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
        "typeVersion": 1,
        "position": [
          208,
          1392
        ],
        "id": "9991104c-aa5f-4019-bf99-0c7e0a8e6d87",
        "name": "Reranker Cohere",
        "credentials": {
          "cohereApi": {
            "id": "PC8dRyj4ikBu79tC",
            "name": "Cohere account"
          }
        }
      },
      {
        "parameters": {},
        "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
        "typeVersion": 202502,
        "position": [
          -608,
          128
        ],
        "id": "cc10be87-e1d0-4d64-b29f-ea322e1653f5",
        "name": "WAHA Trigger",
        "webhookId": "2f55e258-e093-4abb-8058-2d780839d6b1"
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Send Text",
          "session": "={{ $('WAHA Trigger').item.json.session }}",
          "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
          "text": "={{ $('AI Agent').item.json.output }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          1632,
          160
        ],
        "id": "fb3544a2-db57-47ed-bd7d-1105fa471dd2",
        "name": "Send a text message",
        "credentials": {
          "wahaApi": {
            "id": "WwLPlwPMLibeRJai",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Send Seen",
          "participant": "",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          256,
          160
        ],
        "id": "a339207f-62b6-437c-8b72-da5d8fb77361",
        "name": "Send Seen",
        "credentials": {
          "wahaApi": {
            "id": "WwLPlwPMLibeRJai",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Start Typing",
          "session": "={{ $('WAHA Trigger').item.json.session }}",
          "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          672,
          160
        ],
        "id": "98aebe63-bb30-4481-8d57-d5db1d82f665",
        "name": "Start Typing",
        "credentials": {
          "wahaApi": {
            "id": "WwLPlwPMLibeRJai",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Stop Typing",
          "session": "={{ $('WAHA Trigger').item.json.session }}",
          "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          1392,
          160
        ],
        "id": "afca1cca-b6fa-4f70-90f6-77a0fd4ee3c3",
        "name": "Stop Typing",
        "credentials": {
          "wahaApi": {
            "id": "WwLPlwPMLibeRJai",
            "name": "WAHA account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d9422915-c9ea-4eb1-a041-a525cf16b016",
                "leftValue": "={{ $json.payload.from}}",
                "rightValue": "g.us",
                "operator": {
                  "type": "string",
                  "operation": "endsWith"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -240,
          144
        ],
        "id": "b2d4bab7-590d-41b9-a836-b5c42db3cc6a",
        "name": "If"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "626e85f1-3e23-462b-b7c8-85ff99a7e3c5",
                "leftValue": "={{ $('WAHA Trigger').item.json.payload.body }}",
                "rightValue": "@263827644006534",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          0,
          0
        ],
        "id": "6e7233e8-35e5-4a6b-a4e8-d7cf8ac2846e",
        "name": "If1"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          -16,
          1328
        ],
        "id": "2031772d-2718-46c9-941e-d68cbf10a533",
        "name": "Embeddings Google Gemini1",
        "credentials": {
          "googlePalmApi": {
            "id": "tgCsIV8J2paiV6A2",
            "name": "RAG API"
          }
        }
      },
      {
        "parameters": {
          "amount": "=4"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          464,
          160
        ],
        "id": "b94229d1-aa2f-485e-9ce3-c64248644a8d",
        "name": "Wait",
        "webhookId": "31666874-2f48-472f-bfcd-7b97434314a7"
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "REDACTED_EMAIL@example.com",
            "mode": "list",
            "cachedResultName": "REDACTED_EMAIL@example.com"
          },
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "additionalFields": {
            "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1168,
          448
        ],
        "id": "d989b50b-1021-47b0-86e4-18be388ceed5",
        "name": "Create an event in Google Calendar",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "REDACTED_EMAIL@example.com",
            "mode": "list",
            "cachedResultName": "REDACTED_EMAIL@example.com"
          },
          "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
          "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
          "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1328,
          448
        ],
        "id": "ce341f7d-a8f7-4633-8d6b-82f2dfe12e54",
        "name": "Get many events in Google Calendar",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "REDACTED_EMAIL@example.com",
            "mode": "list",
            "cachedResultName": "REDACTED_EMAIL@example.com"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1648,
          448
        ],
        "id": "f1da765d-9ba5-43d9-8b89-b1b2f6d90119",
        "name": "Delete an event in Google Calendar",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "REDACTED_EMAIL@example.com",
            "mode": "list",
            "cachedResultName": "REDACTED_EMAIL@example.com"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "updateFields": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1488,
          448
        ],
        "id": "d7ca9901-55c9-4f01-9fd5-e1a72559cb0c",
        "name": "Update an event in Google Calendar",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "8U792wK9xBpopW0K",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('WAHA Trigger').item.json.payload.body }}",
          "contextWindowLength": 20
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.4,
        "position": [
          1008,
          496
        ],
        "id": "0de0885d-22aa-47f8-b539-9f4f0fa50424",
        "name": "Simple Memory"
      }
    ],
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "node": "Stop Typing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Supabase Vector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Reranker Cohere": {
        "ai_reranker": [
          [
            {
              "node": "Supabase Vector Store1",
              "type": "ai_reranker",
              "index": 0
            }
          ]
        ]
      },
      "WAHA Trigger": {
        "main": [
          [],
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Seen": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start Typing": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stop Typing": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Seen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Send Seen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini1": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store1",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Start Typing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create an event in Google Calendar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Get many events in Google Calendar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Update an event in Google Calendar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Delete an event in Google Calendar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Saleh DG",
    "name": "menambah fungsi ingatan",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-15T09:54:32.856Z",
        "id": 33,
        "workflowId": "c517osOLx0Zbnd7M",
        "versionId": "7c1b54df-bc29-40b7-8b5f-9896e75d6c28",
        "event": "activated",
        "userId": "11ec36fc-2c7e-4d1e-bfea-bb564e5f5b2f"
      }
    ]
  },
  "activeVersionId": "7c1b54df-bc29-40b7-8b5f-9896e75d6c28",
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Stop Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-13T12:24:31.175Z",
  "description": null,
  "id": "c517osOLx0Zbnd7M",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Folin",
  "nodeGroups": [],
  "nodes": [
    {
      "parameters": {
        "promptType": "=define",
        "text": "={{ $('WAHA Trigger').item.json.payload.body }}",
        "options": {
          "systemMessage": "=# IDENTITAS\nNama: Folin | Panggilan: \"Lin\" \n\n# WAKTU & TANGGAL SAAT INI\nSekarang adalah: {{ $now.setZone('Asia/Jakarta').format('cccc, dd MMMM yyyy - HH:mm') }} WIB.\nGunakan waktu ini sebagai patokan pasti mutlak untuk menghitung \"hari ini\", \"besok\", \"lusa\", atau saat mencatat jadwal ke Google Calendar.\n\nSaat memperkenalkan diri atau menyebut diri sendiri dalam percakapan,\nselalu gunakan nama lengkap Folin. \"Lin\" hanya panggilan dari user,\nbukan cara kamu menyebut dirimu sendiri.\n\n---\n\n# SIAPA YANG DILAYANI\n\nFolin melayani SEMUA orang yang mengajak bicara — bukan hanya Saleh.\n\nBedanya hanya di akses data:\n- User dikenal sebagai Saleh → akses penuh ke semua fitur dan data pribadi\n- User lain / tidak dikenal → tetap bantu untuk pertanyaan umum.\n  Jika membutuhkan data pribadi Saleh (keuangan, tugas, jadwal),\n  minta konfirmasi identitas atau sampaikan bahwa data tersebut privat.\n\n⚠️ Jangan asumsikan setiap user adalah Saleh.\n⚠️ Jangan tolak atau abaikan user yang bukan Saleh — tetap layani.\n\n---\n\n# ATURAN UTAMA: KAPAN BICARA, KAPAN DIAM\n\nIni aturan paling kritis. Ikuti tanpa pengecualian.\n\n## MODE 1 — JAWAB LANGSUNG (tidak ada tool)\nGunakan mode ini untuk:\n- Pertanyaan umum / sehari-hari\n- Obrolan / curhat / salam\n- Pertanyaan yang bisa dijawab dari pengetahuan atau database teks\n\nCara: langsung jawab. Tidak perlu panggil tool apapun.\n\n---\n\n## MODE 2 — PANGGIL TOOL, LALU DIAM TOTAL\nGunakan mode ini untuk SEMUA permintaan yang butuh aksi nyata:\n- Tambah / cek / ubah / hapus jadwal atau event\n- Catat atau cek keuangan (pemasukan / pengeluaran)\n- Simpan catatan ke database\n- Planning harian yang perlu dibuat di Calendar\n- Apapun yang melibatkan Google Calendar, database, atau sistem eksternal\n\nCara:\n1. Panggil tool yang relevan — LANGSUNG, tanpa teks apapun sebelumnya\n2. Setelah tool selesai — Berikan teks konfirmasi, dan ringkasannya.\n\n✗ SALAH — jangan lakukan ini:\n\"Oke, aku tambahkan ke Calendar ya!\" → [tool] → \"Berhasil ditambahkan!\"\n\n✓ BENAR — lakukan ini:\n[tool langsung dipanggil] → \"Berhasil ditambahkan!\"\n\n---\n\n## PENGECUALIAN — Boleh bicara meski ada tool, HANYA jika:\n- Informasi tidak lengkap untuk menjalankan tool\n  → Tanya dulu hal yang kurang, singkat dan spesifik\n- Tool gagal / error\n  → Sampaikan error-nya saja, singkat\n\n---\n\n# ATURAN EKSTRAKSI DATA SEBELUM PANGGIL TOOL\n\nSebelum memanggil tool apapun, ekstrak dulu semua field yang dibutuhkan\ndari pesan user. Jangan panggil tool kalau ada field wajib yang kosong.\n\n## Google Calendar — field wajib:\n- summary   : judul event (ambil persis dari yang user sebut)\n- startTime : tanggal + jam mulai\n- endTime   : tanggal + jam selesai (kalau tidak disebut, default +1 jam)\n- description: deskripsi tambahan (boleh kosong)\n\nContoh mapping yang BENAR:\nUser: \"Besok jam 3 sore ada rapat klien\"\n→ summary    = \"Rapat Klien\"\n→ startTime  = [besok] 15:00\n→ endTime    = [besok] 16:00\n→ description= \"\"\n\n✗ SALAH — jangan kirim tool tanpa summary:\n→ summary = \"\" atau summary = null atau summary tidak di-pass sama sekali\n\n✓ BENAR — summary selalu diisi dari kata-kata user:\n→ summary = \"Rapat Klien\" (bukan kosong, bukan \"event\", bukan \"untitled\")\n\nKalau user tidak menyebut nama event sama sekali →\ntanya dulu sebelum panggil tool:\n\"Nama eventnya apa?\"\n\n--\n\n# TANGGUNG JAWAB UTAMA\n\n1. Catat Tugas\n   Simpan, lacak, dan ingatkan soal tugas. Eksekusi via tool ke Google Calendar.\n\n2. Keuangan\n   Catat pemasukan & pengeluaran. Eksekusi via tool ke database keuangan.\n\n3. Planning Harian\n   Susun rencana kerja harian. Kalau sudah disetujui, eksekusi via tool ke Google Calendar.\n\n4. Catatan Umum\n   Catat hal yang perlu diingat. Eksekusi via tool ke database catatan.\n\n5. Tanya Jawab (MODE 1 — jawab langsung)\n   Urutan prioritas:\n   → Database Saleh (cek dulu)\n   → Internet\n   → Pengetahuan sendiri\n   → Kalau semua tidak ada → jawab tidak tahu, sopan dan singkat\n\n---\n\n# KEPRIBADIAN & CARA BICARA\n(Berlaku hanya saat MODE 1 — saat berbicara)\n\n- Santai dan hangat — seperti teman, bukan asisten korporat\n- Natural, boleh campur sedikit bahasa gaul kalau suasananya santai\n- To the point — tidak bertele-tele\n- Kalau jadwal atau keuangan terlihat kacau → kasih tahu dengan tegas tapi sopan\n  Contoh: \"Eh, pengeluaran minggu ini udah 3x lipat dari biasanya loh.\"\n\n---\n\n# FORMAT (WhatsApp)\n(Berlaku hanya saat MODE 1 — saat berbicara)\n\n- Gunakan *bold* untuk hal penting\n- List pendek pakai tanda (–) atau nomor. Setiap poin pada list diberikan jarak diantaranya menggunakan \n- Paragraf pendek, hindari dinding teks\n- Emoji boleh, tapi secukupnya\n- Respons singkat lebih baik dari panjang\n- Hindari formatting yang tidak didukung WhatsApp (##, ---, dsb)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        160
      ],
      "id": "f5dbe28a-b29b-460b-a298-39af5ac61fe9",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -624,
        1376
      ],
      "id": "e289f416-3046-4c7f-89ea-953232d3c387",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "k27SnwImRZKrqF5r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Gunakan data dari database ini sebagai patokan utama, jika tidak ada gunakan pengetahuanmu sendiri",
        "tableName": {
          "__rl": true,
          "value": "document",
          "mode": "list",
          "cachedResultName": "document"
        },
        "topK": 20,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        0,
        1136
      ],
      "id": "7d1302c4-2821-4d5c-97e6-5a664b023c45",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "fJAk2egDiCh6MW5U",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        912,
        352
      ],
      "id": "cf636936-5d00-422b-8230-fe804f33399f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "k27SnwImRZKrqF5r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "document",
          "mode": "list",
          "cachedResultName": "document"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -608,
        1136
      ],
      "id": "fad0204c-c49e-4fd0-83d7-983946e1a313",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "fJAk2egDiCh6MW5U",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -400,
        1344
      ],
      "id": "fd6e4d32-b318-4aeb-baa9-39fa6a1d5293",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        208,
        1392
      ],
      "id": "9991104c-aa5f-4019-bf99-0c7e0a8e6d87",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "PC8dRyj4ikBu79tC",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        -608,
        128
      ],
      "id": "cc10be87-e1d0-4d64-b29f-ea322e1653f5",
      "name": "WAHA Trigger",
      "webhookId": "2f55e258-e093-4abb-8058-2d780839d6b1"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1632,
        160
      ],
      "id": "fb3544a2-db57-47ed-bd7d-1105fa471dd2",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "WwLPlwPMLibeRJai",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "participant": "",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        256,
        160
      ],
      "id": "a339207f-62b6-437c-8b72-da5d8fb77361",
      "name": "Send Seen",
      "credentials": {
        "wahaApi": {
          "id": "WwLPlwPMLibeRJai",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        672,
        160
      ],
      "id": "98aebe63-bb30-4481-8d57-d5db1d82f665",
      "name": "Start Typing",
      "credentials": {
        "wahaApi": {
          "id": "WwLPlwPMLibeRJai",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1392,
        160
      ],
      "id": "afca1cca-b6fa-4f70-90f6-77a0fd4ee3c3",
      "name": "Stop Typing",
      "credentials": {
        "wahaApi": {
          "id": "WwLPlwPMLibeRJai",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d9422915-c9ea-4eb1-a041-a525cf16b016",
              "leftValue": "={{ $json.payload.from}}",
              "rightValue": "g.us",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        144
      ],
      "id": "b2d4bab7-590d-41b9-a836-b5c42db3cc6a",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "626e85f1-3e23-462b-b7c8-85ff99a7e3c5",
              "leftValue": "={{ $('WAHA Trigger').item.json.payload.body }}",
              "rightValue": "@263827644006534",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "6e7233e8-35e5-4a6b-a4e8-d7cf8ac2846e",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        1328
      ],
      "id": "2031772d-2718-46c9-941e-d68cbf10a533",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "tgCsIV8J2paiV6A2",
          "name": "RAG API"
        }
      }
    },
    {
      "parameters": {
        "amount": "=4"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        160
      ],
      "id": "b94229d1-aa2f-485e-9ce3-c64248644a8d",
      "name": "Wait",
      "webhookId": "31666874-2f48-472f-bfcd-7b97434314a7"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "REDACTED_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "REDACTED_EMAIL@example.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1168,
        448
      ],
      "id": "d989b50b-1021-47b0-86e4-18be388ceed5",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "REDACTED_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "REDACTED_EMAIL@example.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1328,
        448
      ],
      "id": "ce341f7d-a8f7-4633-8d6b-82f2dfe12e54",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "REDACTED_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "REDACTED_EMAIL@example.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1648,
        448
      ],
      "id": "f1da765d-9ba5-43d9-8b89-b1b2f6d90119",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "REDACTED_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "REDACTED_EMAIL@example.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1488,
        448
      ],
      "id": "d7ca9901-55c9-4f01-9fd5-e1a72559cb0c",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8U792wK9xBpopW0K",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WAHA Trigger').item.json.payload.body }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        1008,
        496
      ],
      "id": "0de0885d-22aa-47f8-b539-9f4f0fa50424",
      "name": "Simple Memory"
    }
  ],
  "pinData": {
    "Supabase Vector Store1": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-06-13T12:24:31.186Z",
      "createdAt": "2026-06-13T12:24:31.186Z",
      "role": "workflow:owner",
      "workflowId": "c517osOLx0Zbnd7M",
      "projectId": "kbiHS04LQQ6cOAs2",
      "project": {
        "updatedAt": "2026-06-13T12:21:43.212Z",
        "createdAt": "2026-06-13T11:21:43.893Z",
        "id": "kbiHS04LQQ6cOAs2",
        "name": "Saleh DG <REDACTED_EMAIL@example.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "11ec36fc-2c7e-4d1e-bfea-bb564e5f5b2f"
      }
    }
  ],
  "sourceWorkflowId": null,
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-15T07:49:04.488Z",
  "versionCounter": 326,
  "versionId": "7c1b54df-bc29-40b7-8b5f-9896e75d6c28"
}