Workflows/n8n x git.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-14T13:56:51.000Z",
    "createdAt": "2026-06-14T13:55:55.298Z",
    "versionId": "f3f5fba6-1400-45b0-8cee-8a3251dda22c",
    "workflowId": "pRgtmX9F8Yav0tRI",
    "nodes": [
      {
        "parameters": {},
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          -800,
          32
        ],
        "typeVersion": 1,
        "id": "ecfa7bce-487e-4737-9753-54f60b90b924"
      },
      {
        "parameters": {
          "functionCode": "const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"
        },
        "name": "dataArray",
        "type": "n8n-nodes-base.function",
        "position": [
          -352,
          176
        ],
        "typeVersion": 1,
        "id": "564e96a9-2ecd-4a3e-a50f-279e8fda9fe5"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "url": "http://localhost:5678/api/v1/workflows",
          "options": {},
          "headerParametersUi": {
            "parameter": [
              {
                "name": "Authorization",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMWVjMzZmYy0yYzdlLTRkMWUtYmZlYS1iYjU2NGU1ZjViMmYiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiODdmNzI0MmQtOTBjZC00MWVkLTkxODMtMWZhMjI1NTRkZWJmIiwiaWF0IjoxNzgxNDQzMDIzfQ.47eeuTPcwWjlo7lOKe-LudbQlj5u0Tiybpy0ur5QN6Y"
              }
            ]
          }
        },
        "name": "N8N Workflows",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -496,
          176
        ],
        "typeVersion": 1,
        "id": "d6338d5b-6263-4871-86d6-5e1f17b4be8a",
        "credentials": {
          "httpHeaderAuth": {
            "id": "dVx0JzzH3IN1yKgC",
            "name": "n8n API"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
          "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
          "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "name": "GitHub",
        "type": "n8n-nodes-base.github",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "alwaysOutputData": true,
        "id": "d6ebab9d-478e-4c29-9582-da2cb834d1ca",
        "webhookId": "e236b8ce-a517-4134-bf58-dc2c7b72613d",
        "credentials": {
          "githubApi": {
            "id": "hH9g7siqIfH8lOQF",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {},
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "position": [
          208,
          176
        ],
        "typeVersion": 1,
        "id": "d649b83b-3c7d-4b9a-8a74-edc6ba57d898"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "url": "=http://localhost:5678/api/v1/workflows/{{$json[\"id\"]}}",
          "options": {},
          "headerParametersUi": {
            "parameter": [
              {
                "name": "X-N8N-API-KEY",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMWVjMzZmYy0yYzdlLTRkMWUtYmZlYS1iYjU2NGU1ZjViMmYiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiODdmNzI0MmQtOTBjZC00MWVkLTkxODMtMWZhMjI1NTRkZWJmIiwiaWF0IjoxNzgxNDQzMDIzfQ.47eeuTPcwWjlo7lOKe-LudbQlj5u0Tiybpy0ur5QN6Y"
              }
            ]
          }
        },
        "name": "N8N Workflow Detail",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          0,
          336
        ],
        "typeVersion": 1,
        "id": "9b0ce80f-57cc-4da0-bbfc-705884ebe016",
        "credentials": {
          "httpHeaderAuth": {
            "id": "dVx0JzzH3IN1yKgC",
            "name": "n8n API"
          }
        }
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{$json[\"github_status\"]}}",
          "rules": {
            "rules": [
              {
                "value2": "same"
              },
              {
                "value2": "different",
                "output": 1
              },
              {
                "value2": "new",
                "output": 2
              }
            ]
          }
        },
        "name": "github_status",
        "type": "n8n-nodes-base.switch",
        "position": [
          512,
          176
        ],
        "typeVersion": 1,
        "id": "56c6d827-8603-434a-983d-40e172566a8a"
      },
      {
        "parameters": {},
        "name": "same",
        "type": "n8n-nodes-base.noOp",
        "position": [
          704,
          0
        ],
        "typeVersion": 1,
        "id": "5fa9b32f-0760-405d-9ba6-f027ac6af356"
      },
      {
        "parameters": {},
        "name": "different",
        "type": "n8n-nodes-base.noOp",
        "position": [
          704,
          176
        ],
        "typeVersion": 1,
        "id": "95346b31-89e1-440a-901d-30a80af80c4c"
      },
      {
        "parameters": {},
        "name": "new",
        "type": "n8n-nodes-base.noOp",
        "position": [
          704,
          336
        ],
        "typeVersion": 1,
        "id": "72198ac0-27e4-411d-8313-3fe011bee9a2"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
          "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
          "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"name\"]}}.json",
          "fileContent": "={{$node[\"Code Node\"].json[\"n8n_data_stringy\"]}}",
          "commitMessage": "=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
        },
        "name": "GitHub Edit",
        "type": "n8n-nodes-base.github",
        "position": [
          912,
          64
        ],
        "typeVersion": 1,
        "id": "a8ae09a8-924f-476b-b721-d09ab70a75b3",
        "webhookId": "044c060b-d774-4971-b120-d9841537feb5",
        "credentials": {
          "githubApi": {
            "id": "hH9g7siqIfH8lOQF",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
          "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
          "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"name\"]}}.json",
          "fileContent": "={{$node[\"Code Node\"].json[\"n8n_data_stringy\"]}}",
          "commitMessage": "=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
        },
        "name": "GitHub Create",
        "type": "n8n-nodes-base.github",
        "position": [
          912,
          336
        ],
        "typeVersion": 1,
        "id": "0c0a24f3-83ec-45bd-8259-96793b1fabc8",
        "webhookId": "a26da23b-639d-4dc7-a67d-f0a4382cce65",
        "credentials": {
          "githubApi": {
            "id": "hH9g7siqIfH8lOQF",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "hour": 20,
                "minute": 11
              }
            ]
          }
        },
        "name": "Daily @ 20:00",
        "type": "n8n-nodes-base.cron",
        "position": [
          -800,
          320
        ],
        "typeVersion": 1,
        "id": "70c0e2a6-6fd8-4aff-8b20-813196e87329"
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "name": "OneAtATime",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          -208,
          176
        ],
        "typeVersion": 1,
        "id": "3f049210-7e73-4df4-82e1-8659cd7340ff"
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "repo.owner",
                "value": "SalehDG"
              },
              {
                "name": "repo.name",
                "value": "Folin"
              },
              {
                "name": "repo.path",
                "value": "Workflows/"
              }
            ]
          },
          "options": {}
        },
        "name": "Globals",
        "type": "n8n-nodes-base.set",
        "position": [
          -656,
          176
        ],
        "typeVersion": 1,
        "id": "18ade396-6278-488e-a9d8-5e53a68537b7"
      },
      {
        "parameters": {
          "jsCode": "// API v1 returns workflow directly, no .data wrapper\nvar n8nWorkflow = items[1].json;\n\n// File Returned with Content\nif (Object.keys(items[0].json).includes(\"content\")) {\n  var decoded = Buffer.from(items[0].json.content, 'base64').toString('utf8');\n  var origWorkflow = JSON.parse(decoded);\n\n  var orderedOriginal = {};\n  var orderedActual = {};\n\n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    items[0].json.github_status = \"same\";\n    items[0].json.content_decoded = orderedOriginal;\n  } else {\n    items[0].json.github_status = \"different\";\n    items[0].json.content_decoded = orderedOriginal;\n    items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n\n// No File / New Workflow\n} else {\n  var orderedActual = {};\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  items[0].json.github_status = \"new\";\n  items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          352,
          176
        ],
        "id": "ebae81d8-60e3-4f23-b26e-69a9998d1016",
        "name": "Code Node"
      }
    ],
    "connections": {
      "new": {
        "main": [
          [
            {
              "node": "GitHub Create",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "same": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Code Node",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Globals": {
        "main": [
          [
            {
              "node": "N8N Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "dataArray": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "different": {
        "main": [
          [
            {
              "node": "GitHub Edit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OneAtATime": {
        "main": [
          [
            {
              "node": "GitHub",
              "type": "main",
              "index": 0
            },
            {
              "node": "N8N Workflow Detail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Edit": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daily @ 20:00": {
        "main": [
          [
            {
              "node": "Globals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Create": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "N8N Workflows": {
        "main": [
          [
            {
              "node": "dataArray",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "github_status": {
        "main": [
          [
            {
              "node": "same",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "different",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "N8N Workflow Detail": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Globals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code Node": {
        "main": [
          [
            {
              "node": "github_status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Saleh DG",
    "name": "Perbaiki bug \"=\" pada nama",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-14T13:56:51.276Z",
        "id": 6,
        "workflowId": "pRgtmX9F8Yav0tRI",
        "versionId": "f3f5fba6-1400-45b0-8cee-8a3251dda22c",
        "event": "activated",
        "userId": "11ec36fc-2c7e-4d1e-bfea-bb564e5f5b2f"
      }
    ]
  },
  "activeVersionId": "f3f5fba6-1400-45b0-8cee-8a3251dda22c",
  "connections": {
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "N8N Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dataArray": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "N8N Workflow Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily @ 20:00": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N8N Workflows": {
      "main": [
        [
          {
            "node": "dataArray",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N8N Workflow Detail": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Node": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-13T22:31:41.290Z",
  "description": null,
  "id": "pRgtmX9F8Yav0tRI",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "n8n x git",
  "nodeGroups": [],
  "nodes": [
    {
      "parameters": {},
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -800,
        32
      ],
      "typeVersion": 1,
      "id": "ecfa7bce-487e-4737-9753-54f60b90b924"
    },
    {
      "parameters": {
        "functionCode": "const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"
      },
      "name": "dataArray",
      "type": "n8n-nodes-base.function",
      "position": [
        -352,
        176
      ],
      "typeVersion": 1,
      "id": "564e96a9-2ecd-4a3e-a50f-279e8fda9fe5"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "http://localhost:5678/api/v1/workflows",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMWVjMzZmYy0yYzdlLTRkMWUtYmZlYS1iYjU2NGU1ZjViMmYiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiODdmNzI0MmQtOTBjZC00MWVkLTkxODMtMWZhMjI1NTRkZWJmIiwiaWF0IjoxNzgxNDQzMDIzfQ.47eeuTPcwWjlo7lOKe-LudbQlj5u0Tiybpy0ur5QN6Y"
            }
          ]
        }
      },
      "name": "N8N Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -496,
        176
      ],
      "typeVersion": 1,
      "id": "d6338d5b-6263-4871-86d6-5e1f17b4be8a",
      "credentials": {
        "httpHeaderAuth": {
          "id": "dVx0JzzH3IN1yKgC",
          "name": "n8n API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "d6ebab9d-478e-4c29-9582-da2cb834d1ca",
      "webhookId": "e236b8ce-a517-4134-bf58-dc2c7b72613d",
      "credentials": {
        "githubApi": {
          "id": "hH9g7siqIfH8lOQF",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        208,
        176
      ],
      "typeVersion": 1,
      "id": "d649b83b-3c7d-4b9a-8a74-edc6ba57d898"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=http://localhost:5678/api/v1/workflows/{{$json[\"id\"]}}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMWVjMzZmYy0yYzdlLTRkMWUtYmZlYS1iYjU2NGU1ZjViMmYiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiODdmNzI0MmQtOTBjZC00MWVkLTkxODMtMWZhMjI1NTRkZWJmIiwiaWF0IjoxNzgxNDQzMDIzfQ.47eeuTPcwWjlo7lOKe-LudbQlj5u0Tiybpy0ur5QN6Y"
            }
          ]
        }
      },
      "name": "N8N Workflow Detail",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        336
      ],
      "typeVersion": 1,
      "id": "9b0ce80f-57cc-4da0-bbfc-705884ebe016",
      "credentials": {
        "httpHeaderAuth": {
          "id": "dVx0JzzH3IN1yKgC",
          "name": "n8n API"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        512,
        176
      ],
      "typeVersion": 1,
      "id": "56c6d827-8603-434a-983d-40e172566a8a"
    },
    {
      "parameters": {},
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        704,
        0
      ],
      "typeVersion": 1,
      "id": "5fa9b32f-0760-405d-9ba6-f027ac6af356"
    },
    {
      "parameters": {},
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        704,
        176
      ],
      "typeVersion": 1,
      "id": "95346b31-89e1-440a-901d-30a80af80c4c"
    },
    {
      "parameters": {},
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        704,
        336
      ],
      "typeVersion": 1,
      "id": "72198ac0-27e4-411d-8313-3fe011bee9a2"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"Code Node\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        912,
        64
      ],
      "typeVersion": 1,
      "id": "a8ae09a8-924f-476b-b721-d09ab70a75b3",
      "webhookId": "044c060b-d774-4971-b120-d9841537feb5",
      "credentials": {
        "githubApi": {
          "id": "hH9g7siqIfH8lOQF",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"Code Node\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        912,
        336
      ],
      "typeVersion": 1,
      "id": "0c0a24f3-83ec-45bd-8259-96793b1fabc8",
      "webhookId": "a26da23b-639d-4dc7-a67d-f0a4382cce65",
      "credentials": {
        "githubApi": {
          "id": "hH9g7siqIfH8lOQF",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 20,
              "minute": 11
            }
          ]
        }
      },
      "name": "Daily @ 20:00",
      "type": "n8n-nodes-base.cron",
      "position": [
        -800,
        320
      ],
      "typeVersion": 1,
      "id": "70c0e2a6-6fd8-4aff-8b20-813196e87329"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -208,
        176
      ],
      "typeVersion": 1,
      "id": "3f049210-7e73-4df4-82e1-8659cd7340ff"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "SalehDG"
            },
            {
              "name": "repo.name",
              "value": "Folin"
            },
            {
              "name": "repo.path",
              "value": "Workflows/"
            }
          ]
        },
        "options": {}
      },
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -656,
        176
      ],
      "typeVersion": 1,
      "id": "18ade396-6278-488e-a9d8-5e53a68537b7"
    },
    {
      "parameters": {
        "jsCode": "// API v1 returns workflow directly, no .data wrapper\nvar n8nWorkflow = items[1].json;\n\n// File Returned with Content\nif (Object.keys(items[0].json).includes(\"content\")) {\n  var decoded = Buffer.from(items[0].json.content, 'base64').toString('utf8');\n  var origWorkflow = JSON.parse(decoded);\n\n  var orderedOriginal = {};\n  var orderedActual = {};\n\n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    items[0].json.github_status = \"same\";\n    items[0].json.content_decoded = orderedOriginal;\n  } else {\n    items[0].json.github_status = \"different\";\n    items[0].json.content_decoded = orderedOriginal;\n    items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n\n// No File / New Workflow\n} else {\n  var orderedActual = {};\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  items[0].json.github_status = \"new\";\n  items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        176
      ],
      "id": "ebae81d8-60e3-4f23-b26e-69a9998d1016",
      "name": "Code Node"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-06-13T22:31:41.297Z",
      "createdAt": "2026-06-13T22:31:41.297Z",
      "role": "workflow:owner",
      "workflowId": "pRgtmX9F8Yav0tRI",
      "projectId": "kbiHS04LQQ6cOAs2",
      "project": {
        "updatedAt": "2026-06-13T12:21:43.212Z",
        "createdAt": "2026-06-13T11:21:43.893Z",
        "id": "kbiHS04LQQ6cOAs2",
        "name": "Saleh DG <REDACTED_EMAIL@example.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "11ec36fc-2c7e-4d1e-bfea-bb564e5f5b2f"
      }
    }
  ],
  "sourceWorkflowId": null,
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-14T13:55:55.274Z",
  "versionCounter": 77,
  "versionId": "f3f5fba6-1400-45b0-8cee-8a3251dda22c"
}